openapi: 3.0.0
info:
  title: NotificationHub API
  description: Complete API collection for NotificationHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Attempts
  - name: Dashboard
  - name: Notifications
  - name: Preferences
  - name: Settings
  - name: Types
paths:
  /api/v1/apps/notification-hub/attempts:
    get:
      tags:
        - Attempts
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Attempts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/average-retry-time:
    get:
      tags:
        - Attempts
      summary: Get Average Retry Time
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/channel-stats:
    get:
      tags:
        - Attempts
      summary: Get Channel Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/channel/{channel}:
    get:
      tags:
        - Attempts
      summary: Get For Channel
      parameters:
        - name: channel
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/error-codes:
    get:
      tags:
        - Attempts
      summary: Get Error Code Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/failures:
    get:
      tags:
        - Attempts
      summary: Get Failures
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/notification/{notificationId}:
    get:
      tags:
        - Attempts
      summary: Get For Notification
      parameters:
        - name: notificationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/pending:
    get:
      tags:
        - Attempts
      summary: Get Pending
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/ready-for-retry:
    get:
      tags:
        - Attempts
      summary: Get Ready For Retry
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/recent-failures:
    get:
      tags:
        - Attempts
      summary: Get Recent Failures
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/stats:
    get:
      tags:
        - Attempts
      summary: Get Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/success-rates:
    get:
      tags:
        - Attempts
      summary: Get Success Rates
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/successful:
    get:
      tags:
        - Attempts
      summary: Get Successful Attempts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/{id}:
    get:
      tags:
        - Attempts
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Attempts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Attempts
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/clean-old:
    post:
      tags:
        - Attempts
      summary: Clean Old Attempts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/retry-failed:
    post:
      tags:
        - Attempts
      summary: Retry Failed Attempts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/{id}/mark-failed:
    post:
      tags:
        - Attempts
      summary: Mark As Failed
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/{id}/mark-processing:
    post:
      tags:
        - Attempts
      summary: Mark As Processing
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/{id}/mark-retry:
    post:
      tags:
        - Attempts
      summary: Mark For Retry
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/attempts/{id}/mark-success:
    post:
      tags:
        - Attempts
      summary: Mark As Success
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/admin-feed:
    get:
      tags:
        - Dashboard
      summary: Admin Feed
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/alerts:
    get:
      tags:
        - Dashboard
      summary: Alerts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/channel-performance:
    get:
      tags:
        - Dashboard
      summary: Channel Performance
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/error-analysis:
    get:
      tags:
        - Dashboard
      summary: Error Analysis
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/overview:
    get:
      tags:
        - Dashboard
      summary: Overview
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/recent-activity:
    get:
      tags:
        - Dashboard
      summary: Recent Activity
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/system-health:
    get:
      tags:
        - Dashboard
      summary: System Health
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/trends:
    get:
      tags:
        - Dashboard
      summary: Trends Analysis
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/dashboard/user-engagement:
    get:
      tags:
        - Dashboard
      summary: User Engagement
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications:
    get:
      tags:
        - Notifications
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Notifications
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/stats:
    get:
      tags:
        - Notifications
      summary: Get Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/unread:
    get:
      tags:
        - Notifications
      summary: Get Unread
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/{id}:
    get:
      tags:
        - Notifications
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Notifications
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Notifications
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/create-bulk:
    post:
      tags:
        - Notifications
      summary: Create Bulk
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/create-bulk-for-roles:
    post:
      tags:
        - Notifications
      summary: Create Bulk For Roles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/create-for-user:
    post:
      tags:
        - Notifications
      summary: Create For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/mark-all-read:
    post:
      tags:
        - Notifications
      summary: Mark All As Read
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/{id}/mark-read:
    post:
      tags:
        - Notifications
      summary: Mark As Read
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/{id}/resend:
    post:
      tags:
        - Notifications
      summary: Resend
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/notifications/{id}/send:
    post:
      tags:
        - Notifications
      summary: Send
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences:
    get:
      tags:
        - Preferences
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Preferences
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/channel-stats:
    get:
      tags:
        - Preferences
      summary: Get Channel Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/enabled-for-user:
    get:
      tags:
        - Preferences
      summary: Get Enabled For User
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/for-user:
    get:
      tags:
        - Preferences
      summary: Get For User
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/stats:
    get:
      tags:
        - Preferences
      summary: Get Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/users-for-digest:
    get:
      tags:
        - Preferences
      summary: Get Users For Digest
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/users-in-quiet-hours:
    get:
      tags:
        - Preferences
      summary: Get Users In Quiet Hours
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/{id}:
    get:
      tags:
        - Preferences
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Preferences
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Preferences
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/add-channel-for-user:
    post:
      tags:
        - Preferences
      summary: Add Channel For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/bulk-update-for-user:
    post:
      tags:
        - Preferences
      summary: Bulk Update For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/create-defaults-for-user:
    post:
      tags:
        - Preferences
      summary: Create Defaults For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/disable-for-user:
    post:
      tags:
        - Preferences
      summary: Disable For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/enable-for-user:
    post:
      tags:
        - Preferences
      summary: Enable For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/export-user-preferences:
    post:
      tags:
        - Preferences
      summary: Export User Preferences
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/import-user-preferences:
    post:
      tags:
        - Preferences
      summary: Import User Preferences
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/migrate-user-preferences:
    post:
      tags:
        - Preferences
      summary: Migrate User Preferences
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/remove-channel-for-user:
    post:
      tags:
        - Preferences
      summary: Remove Channel For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/reset-to-defaults:
    post:
      tags:
        - Preferences
      summary: Reset To Defaults
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/set-frequency-for-user:
    post:
      tags:
        - Preferences
      summary: Set Frequency For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/preferences/set-quiet-hours-for-user:
    post:
      tags:
        - Preferences
      summary: Set Quiet Hours For User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/settings:
    get:
      tags:
        - Settings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/settings/groups/list:
    get:
      tags:
        - Settings
      summary: Get Groups List
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/settings/{group}:
    get:
      tags:
        - Settings
      summary: Show
      parameters:
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/settings/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/settings/{group}/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/settings/{group}/test:
    post:
      tags:
        - Settings
      summary: Test Connection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types:
    get:
      tags:
        - Types
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Types
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/active:
    get:
      tags:
        - Types
      summary: Get Active
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/channel/{channel}:
    get:
      tags:
        - Types
      summary: Get For Channel
      parameters:
        - name: channel
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/default-template/{slug}:
    get:
      tags:
        - Types
      summary: Get Default Template
      parameters:
        - name: slug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/role/{roleCode}:
    get:
      tags:
        - Types
      summary: Get For Role
      parameters:
        - name: roleCode
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/stats:
    get:
      tags:
        - Types
      summary: Get Stats
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/translations/job/progress:
    get:
      tags:
        - Types
      summary: Translation Job Progress
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/user-configurable:
    get:
      tags:
        - Types
      summary: Get User Configurable
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/variables:
    get:
      tags:
        - Types
      summary: Get All Template Variables
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/variables/{slug}:
    get:
      tags:
        - Types
      summary: Get Template Variables
      parameters:
        - name: slug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}:
    get:
      tags:
        - Types
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Types
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Types
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/bulk-activate:
    post:
      tags:
        - Types
      summary: Bulk Activate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/bulk-deactivate:
    post:
      tags:
        - Types
      summary: Bulk Deactivate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/create-predefined:
    post:
      tags:
        - Types
      summary: Create Predefined
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/preview-email:
    post:
      tags:
        - Types
      summary: Preview Email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/roles:
    post:
      tags:
        - Types
      summary: Get For Roles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/search:
    post:
      tags:
        - Types
      summary: Search
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/translations/job/run:
    post:
      tags:
        - Types
      summary: Run Translation Job
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/validate-template:
    post:
      tags:
        - Types
      summary: Validate Template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/variables/validate:
    post:
      tags:
        - Types
      summary: Validate Template Variables
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/activate:
    post:
      tags:
        - Types
      summary: Activate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/add-channel:
    post:
      tags:
        - Types
      summary: Add Channel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/add-role:
    post:
      tags:
        - Types
      summary: Add Role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/deactivate:
    post:
      tags:
        - Types
      summary: Deactivate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/make-global:
    post:
      tags:
        - Types
      summary: Make Global
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/make-specific:
    post:
      tags:
        - Types
      summary: Make Specific
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/remove-channel:
    post:
      tags:
        - Types
      summary: Remove Channel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/remove-role:
    post:
      tags:
        - Types
      summary: Remove Role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/set-roles:
    post:
      tags:
        - Types
      summary: Set Roles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/notification-hub/types/{id}/update-template:
    post:
      tags:
        - Types
      summary: Update Template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
