openapi: 3.0.0
info:
  title: AuthHub
  description: >-
    Storefront-facing authentication endpoints for B2Bware DataHub.


    All endpoints are under `/api/v1/apps/auth-hub`.


    ## Authentication modes


    - `installationKey.header` middleware (URL-based) — `{installationKey}` is
    part of the path; no headers required. Used for `reset-password` and
    `verify-email` (called from email links).

    - `auth:api` (custom `spiderDesk` driver) — accepts either `Authorization:
    Bearer {api_token}` OR `x-installation-key: {uuid}`. Storefront should
    always use the installation key form.


    ## Headers used by storefronts


    - `x-installation-key` — tenant identifier (safe to expose in the browser).

    - `x-auth-token` — issued by `POST /login`, format
    `{customer_id}.{bcrypt(bearer)}`. Required for `/me`, `/logout`, and
    `/impersonate/*`.


    See `authentication/storefront-customer.mdx` for full docs.
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
tags:
  - name: Public (URL-based installation key)
    description: >-
      These endpoints are called from email links — `{installationKey}` is part
      of the path, no auth headers are required.
  - name: Customer auth (x-installation-key)
    description: >-
      Storefront customer endpoints. All require `x-installation-key`. `/me`,
      `/logout`, and `/impersonate/*` additionally require `x-auth-token`.
  - name: Impersonation (sales agent)
    description: >-
      Only customers whose role type is `agent` can use these endpoints.
      Non-agent callers get 403.
  - name: 'Admin: Email change (admin auth)'
    description: >-
      Admin-panel endpoints that change a customer's email by ID, without the
      customer's password. They require admin auth (`auth:api`, SpiderDesk
      Bearer). The installation key is resolved from the customer when the
      header is absent.
paths:
  /api/v1/apps/auth-hub/{installationKey}/reset-password:
    post:
      tags:
        - Public (URL-based installation key)
      summary: Reset Password
      description: >-
        Completes a password reset started by `POST /forgot-password`.


        - `code` — 6-char code from the reset email; expires after 1 hour.

        - `password` — new password; must satisfy installation password policy.

        - `password_confirmation` — must equal `password`.


        Returns 200 with `{ "message": "Password reset successfully." }` on
        success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                code: ABC123
                password: new-strong-password
                password_confirmation: new-strong-password
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: installationKey
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/{installationKey}/verify-email:
    post:
      tags:
        - Public (URL-based installation key)
      summary: Verify Email
      description: >-
        Confirms a customer's email using the 6-char code sent by `POST
        /send-verification-email` or by `register`. Code expires after 24 hours.


        If the installation does not require admin approval, the customer is
        also activated.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                code: ABC123
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: installationKey
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/login:
    post:
      tags:
        - Customer auth (x-installation-key)
      summary: Login
      description: >-
        Exchanges email + password for an `x-auth-token`.


        Response:

        ```json

        {
          "token": "42.JDJ5JDEyJGFiY2RlZmdo...",
          "customer": { "id": 42, "email": "jane.doe@example.com", ... }
        }

        ```


        Specific 401 messages distinguish failure modes:

        - `Email not found` — no customer with this email (also returned when
        only a guest-checkout record exists; route the user to registration, not
        password reset).

        - `Password not valid` — password mismatch.

        - `Account is inactive` — admin must approve.

        - `Email not verified` — customer must complete `verify-email` first.


        The test script auto-saves `token` into the `authToken` collection
        variable.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: jane.doe@example.com
                password: correct-horse-battery-staple
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/register:
    post:
      tags:
        - Customer auth (x-installation-key)
      summary: Register
      description: >-
        Creates a B2B customer account.


        - `company` is optional; include for B2B registrations.

        - If the installation requires email verification, the response still
        contains a `token` but the customer must verify before placing orders.

        - If the installation requires admin approval, the response **omits**
        `token` and the customer cannot log in until activated.

        - **Guest upgrade:** if a guest-checkout record already exists for
        `email` with no password, registration upgrades that record instead of
        creating a new one (preserving prior orders).


        Validation rules follow CommonFilterRepository conventions; unique check
        uses MongoDB collection `items_{customer_entity}` with `_deleted_at IS
        NULL`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                first_name: Jane
                last_name: Doe
                email: jane.doe@example.com
                password: correct-horse-battery-staple
                password_confirmation: correct-horse-battery-staple
                phone: +43 660 1234567
                language: en
                company:
                  name: Acme GmbH
                  vat_id: ATU12345678
                  street: Hauptstrasse 1
                  city: Vienna
                  zip: '1010'
                  country_code: AT
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/forgot-password:
    post:
      tags:
        - Customer auth (x-installation-key)
      summary: Forgot Password
      description: >-
        Sends a 6-character reset code to `email` (1 hour expiry). The customer
        then completes the reset via `POST /{installationKey}/reset-password`.


        Returns 200 with a generic message even if the email does not exist
        (prevents email enumeration).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: jane.doe@example.com
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/send-verification-email:
    post:
      tags:
        - Customer auth (x-installation-key)
      summary: Send Verification Email
      description: >-
        (Re)sends a 6-character email-verification code (24 hour expiry). Used
        when the customer did not receive or has lost the original code from
        registration.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: jane.doe@example.com
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/me:
    get:
      tags:
        - Customer auth (x-installation-key)
      summary: Get Me
      description: >-
        Returns the currently authenticated customer. When Unified Contacts
        authorization is enabled, the existing customer fields are preserved and
        `memberships`, `active_company_id`, and `user_account_id` are added.


        Unlike other endpoints, a missing/invalid `x-auth-token` returns a
        specific 401 body:

        ```json

        {
          "error": "unauthorized",
          "messages": ["No x-auth-token header was provided."],
          "code": 401
        }

        ```

        Use this to distinguish 'token missing' from 'token expired'.
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/me/companies:
    get:
      tags:
        - Customer auth (x-installation-key)
      summary: List Accessible Companies
      description: >-
        Lists active company memberships available to the current user account
        and returns the session's `active_company_id`. Company affiliations
        never grant access.
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/me/active-company:
    put:
      tags:
        - Customer auth (x-installation-key)
      summary: Switch Active Company
      description: >-
        Switches the current login/session company context. The company must
        have an active, currently valid CompanyMembership and the legacy company
        record must be active. Returns 403 for an inaccessible or inactive
        company.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                active_company_id: 31
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/me/sessions:
    get:
      tags:
        - Customer auth (x-installation-key)
      summary: List Active Sessions
      description: >-
        Lists sessions owned by the authenticated customer. Each item can
        include the active company and impersonator user-account IDs used for
        authorization and audit.
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/me/sessions/{id}:
    delete:
      tags:
        - Customer auth (x-installation-key)
      summary: Revoke Active Session
      description: >-
        Revokes one session owned by the authenticated customer. The numeric
        session ID must belong to the caller.
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/refresh:
    post:
      tags:
        - Customer auth (x-installation-key)
      summary: Refresh Session
      requestBody:
        content: {}
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/logout-all:
    post:
      tags:
        - Customer auth (x-installation-key)
      summary: Logout All Sessions
      description: Revokes every active session owned by the authenticated customer.
      requestBody:
        content: {}
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/logout:
    post:
      tags:
        - Customer auth (x-installation-key)
      summary: Logout
      description: >-
        Revokes the current `x-auth-token`. Subsequent requests with that token
        return 401. Use `POST /logout-all` to revoke every session owned by the
        customer.
      requestBody:
        content: {}
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/impersonate/customers:
    get:
      tags:
        - Impersonation (sales agent)
      summary: List Impersonatable Customers
      description: >-
        Paginated list of customers the agent is allowed to impersonate.
        Supports `filter[search]` against name/email/company.


        Agents cannot impersonate other agents or admins.
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
        - name: filter[search]
          in: query
          schema:
            type: string
          example: acme
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/impersonate/{customerId}:
    post:
      tags:
        - Impersonation (sales agent)
      summary: Impersonate Customer
      description: >-
        Issues an impersonation token in a validated company context.
        `active_company_id` is required for a multi-company target. A
        multi-company agent must select an active company first, and agent and
        target must share the selected company. The response includes a new
        `token` that represents the target customer; use it for subsequent
        storefront requests, then call `impersonate/leave`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                active_company_id: 31
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/impersonate/leave:
    post:
      tags:
        - Impersonation (sales agent)
      summary: Leave Impersonation
      description: >-
        Ends the current impersonation session and restores the agent's original
        token.
      requestBody:
        content: {}
      parameters:
        - name: x-installation-key
          in: header
          schema:
            type: string
          example: '{{installationKey}}'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: '{{authToken}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/admin/customer/{customerId}/request-email-change:
    post:
      tags:
        - 'Admin: Email change (admin auth)'
      summary: Request Email Change (admin)
      description: >-
        Starts an email change for the given customer without the customer's
        password. A 6-digit verification code (24h expiry) is sent to the new
        address via NotificationHub. Errors: 400 (same email), 404 (not found),
        409 (already in use).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                new_email: jane.new@example.com
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{apiToken}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/admin/customer/{customerId}/pending-email-change:
    get:
      tags:
        - 'Admin: Email change (admin auth)'
      summary: Get Pending Email Change (admin)
      description: >-
        Returns the customer's current unverified, non-revoked, non-expired
        email-change request. has_pending is false and pending_change is null
        when there is none.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{apiToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/admin/customer/{customerId}/verify-email-change:
    post:
      tags:
        - 'Admin: Email change (admin auth)'
      summary: Verify Email Change (admin)
      description: >-
        Confirms a pending email change with the 6-digit code, updates the
        customer's email and marks it verified. Returns 400 for an invalid or
        expired code.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                token: '123456'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{apiToken}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/admin/customer/{customerId}/cancel-email-change:
    delete:
      tags:
        - 'Admin: Email change (admin auth)'
      summary: Cancel Email Change (admin)
      description: >-
        Revokes all pending email-change requests for the customer. Returns {
        "cancelled": true } (200) or { "cancelled": false } (404) when nothing
        was pending.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer {{apiToken}}
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
