openapi: 3.0.0
info:
  title: AttributesHub API
  description: >-
    Complete API collection for AttributesHub — attribute definitions, values,
    groups, and attributable value assignments.
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Attributes
  - name: Attribute Values
  - name: Attribute Groups
  - name: Attributable Values
  - name: Sortable Attributes
paths:
  /api/v1/apps/attributes-hub/attributes:
    get:
      tags:
        - Attributes
      summary: List Attributes
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Attributes
      summary: Create Attribute
      description: >-
        Create an Attribute. Set `use_in_checkout=true` (when
        group.type='order') to expose this attribute on the OrderHub storefront
        checkout. Set `use_for_sorting=true` to make this attribute valid as
        `?sort=<attribute_code>` on every listing endpoint whose target's
        group_types include this attribute's group type. See
        packages/Apps/OrderHub/CHECKOUT.md.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: PO Number
                attribute_code: po_number
                type: text
                group_id: 5
                required: true
                position: 1
                used_for_filtering: false
                visible_on_the_product_page: false
                filterable_with_results: false
                use_in_notifications: false
                use_in_checkout: true
                use_for_sorting: true
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributes/1:
    get:
      tags:
        - Attributes
      summary: Get Attribute
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Attributes
      summary: Update Attribute
      description: >-
        Update an Attribute. `use_in_checkout` toggles storefront-checkout
        exposure (only meaningful when group.type='order'). `use_for_sorting`
        toggles dynamic API ?sort=<attribute_code> on the relevant listing
        endpoint(s).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: PO Number
                group_id: 5
                required: true
                position: 1
                used_for_filtering: false
                visible_on_the_product_page: false
                filterable_with_results: false
                use_in_notifications: false
                use_in_checkout: true
                use_for_sorting: true
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Attributes
      summary: Delete Attribute
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributeTypes:
    get:
      tags:
        - Attributes
      summary: Get Attribute Types
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributes/insert/bulk:
    put:
      tags:
        - Attributes
      summary: Bulk Insert Attributes
      description: >-
        Bulk insert. Each attribute supports `use_in_checkout` (storefront
        checkout exposure for `group.type='order'` attributes) and
        `use_for_sorting` (dynamic API ?sort=<attribute_code> on the relevant
        listing endpoint(s)).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                attributes:
                  - name: PO Number
                    attribute_code: po_number
                    type: text
                    group_id: 5
                    required: true
                    position: 1
                    used_for_filtering: false
                    visible_on_the_product_page: false
                    filterable_with_results: false
                    use_in_notifications: false
                    use_in_checkout: true
                    use_for_sorting: true
                  - name: Internal Note
                    attribute_code: internal_note
                    type: text
                    group_id: 5
                    required: true
                    position: 1
                    used_for_filtering: false
                    visible_on_the_product_page: false
                    filterable_with_results: false
                    use_in_notifications: false
                    use_in_checkout: false
                    use_for_sorting: false
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributeValues:
    get:
      tags:
        - Attribute Values
      summary: List Attribute Values
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Attribute Values
      summary: Create Attribute Value
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributeValues/1:
    get:
      tags:
        - Attribute Values
      summary: Get Attribute Value
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Attribute Values
      summary: Update Attribute Value
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Attribute Values
      summary: Delete Attribute Value
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributeGroups:
    get:
      tags:
        - Attribute Groups
      summary: List Attribute Groups
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Attribute Groups
      summary: Create Attribute Group
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributeGroups/1:
    get:
      tags:
        - Attribute Groups
      summary: Get Attribute Group
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Attribute Groups
      summary: Update Attribute Group
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Attribute Groups
      summary: Delete Attribute Group
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributeGroups/types/list:
    get:
      tags:
        - Attribute Groups
      summary: Get Attribute Group Types
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributableValues:
    get:
      tags:
        - Attributable Values
      summary: List Attributable Values
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Attributable Values
      summary: Create Attributable Value
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/attributableValues/1:
    get:
      tags:
        - Attributable Values
      summary: Get Attributable Value
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Attributable Values
      summary: Update Attributable Value
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Attributable Values
      summary: Delete Attributable Value
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/sortable-attributes/resync:
    post:
      tags:
        - Sortable Attributes
      summary: Resync All Sortable Attributes
      description: >-
        Queue a background backfill that resyncs the denormalized
        sort/admin-filter values for every attribute with `use_for_sorting` or
        `use_for_admin_filtering` enabled. Admin-only. Returns 202 immediately;
        progress is tracked through the SettingsHub index dashboard (`GET
        /api/v1/apps/settings-hub/index`, rows of
        `type=sortable_attribute_sync`).
      requestBody:
        content: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/attributes-hub/sortable-attributes/1/resync:
    post:
      tags:
        - Sortable Attributes
      summary: Resync Sortable Attribute
      description: >-
        Queue a background backfill that resyncs the denormalized
        sort/admin-filter values for a single attribute (path param
        `attribute_id`). The attribute must have `use_for_sorting` or
        `use_for_admin_filtering` enabled (otherwise 422); unknown id returns
        404. Admin-only. Returns 202 immediately; progress is tracked through
        the SettingsHub index dashboard.
      requestBody:
        content: {}
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
