openapi: 3.0.0
info:
  title: EventHub API
  description: Complete API collection for EventHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Dashboard
  - name: Event Delivery Logs
  - name: Event Subscriptions
  - name: Settings
paths:
  /api/v1/apps/event-hub/dashboard/delivery-outcomes:
    get:
      tags:
        - Dashboard
      summary: Delivery Outcomes
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/dashboard/delivery-trends:
    get:
      tags:
        - Dashboard
      summary: Delivery Trends
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/dashboard/subscriptions-health:
    get:
      tags:
        - Dashboard
      summary: Subscriptions Health
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/dashboard/top-failing-subscriptions:
    get:
      tags:
        - Dashboard
      summary: Top Failing Subscriptions
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-delivery-logs:
    get:
      tags:
        - Event Delivery Logs
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-delivery-logs/{id}:
    get:
      tags:
        - Event Delivery Logs
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions:
    get:
      tags:
        - Event Subscriptions
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Event Subscriptions
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Order created -> partner ERP
                description: Forwards every order.created event to the partner ERP webhook.
                event_slug: orderhub.order.created
                target_url: https://partner.example.com/webhooks/orders
                http_method: POST
                headers:
                  X-Partner-Token: abc123
                payload_includes:
                  - customer
                  - orderLineItems
                  - orderLineItems.product
                conditions:
                  type: combine
                  operator: all
                  conditions:
                    - type: field
                      path: total_price
                      operator: '>='
                      value: 100
                    - type: array_any
                      path: orderLineItems
                      conditions:
                        type: combine
                        operator: all
                        conditions:
                          - type: field
                            path: product_id
                            operator: '=='
                            value: 2
                          - type: field
                            path: qty
                            operator: '>'
                            value: 5
                status: active
                timeout_seconds: 15
                max_tries: 3
                retry_backoff_type: exponential
                initial_backoff_seconds: 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/available-events/list:
    get:
      tags:
        - Event Subscriptions
      summary: Available Events
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/backoff-types/list:
    get:
      tags:
        - Event Subscriptions
      summary: Backoff Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/events/{slug}/available-includes:
    get:
      tags:
        - Event Subscriptions
      summary: Available Includes
      parameters:
        - name: slug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/events/{slug}/sample-payload:
    get:
      tags:
        - Event Subscriptions
      summary: Sample Payload
      parameters:
        - name: slug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/events/{slug}/schema:
    get:
      tags:
        - Event Subscriptions
      summary: Event Schema
      parameters:
        - name: slug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/http-methods/list:
    get:
      tags:
        - Event Subscriptions
      summary: Http Methods
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/stats/overview:
    get:
      tags:
        - Event Subscriptions
      summary: Stats Overview
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/statuses/list:
    get:
      tags:
        - Event Subscriptions
      summary: Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}:
    get:
      tags:
        - Event Subscriptions
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Event Subscriptions
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Event Subscriptions
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}/activities:
    get:
      tags:
        - Event Subscriptions
      summary: Activities
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}/deliveries:
    get:
      tags:
        - Event Subscriptions
      summary: Deliveries
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}/stats:
    get:
      tags:
        - Event Subscriptions
      summary: Stats
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}/pause:
    post:
      tags:
        - Event Subscriptions
      summary: Pause
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}/resume:
    post:
      tags:
        - Event Subscriptions
      summary: Resume
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}/rotate-secret:
    post:
      tags:
        - Event Subscriptions
      summary: Rotate Secret
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/event-subscriptions/{id}/test:
    post:
      tags:
        - Event Subscriptions
      summary: Test
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/settings:
    get:
      tags:
        - Settings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/settings/groups/list:
    get:
      tags:
        - Settings
      summary: Get Groups List
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/settings/{group}:
    get:
      tags:
        - Settings
      summary: Show
      parameters:
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/settings/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/event-hub/settings/{group}/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
