openapi: 3.0.0
info:
  title: CustomerHub API
  description: Complete API collection for CustomerHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: BillingAddresses
  - name: Companies
  - name: Contacts
  - name: CustomerGroups
  - name: Customers
  - name: Dashboard
  - name: Favorites
  - name: Notes
  - name: Permissions
  - name: Roles
  - name: Settings
  - name: ShippingAddresses
  - name: User Accounts
paths:
  /api/v1/apps/customer-hub/billingAddresses:
    get:
      tags:
        - BillingAddresses
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - BillingAddresses
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/billingAddresses/{id}:
    get:
      tags:
        - BillingAddresses
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - BillingAddresses
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - BillingAddresses
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/companies:
    get:
      tags:
        - Companies
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Companies
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/companies/{id}:
    get:
      tags:
        - Companies
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Companies
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Companies
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/companies/bulk/update:
    put:
      tags:
        - Companies
      summary: Bulk Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/companies/bulk/delete:
    delete:
      tags:
        - Companies
      summary: Bulk Delete
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts:
    get:
      tags:
        - Contacts
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Contacts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - kind
                - status
              properties:
                kind:
                  type: string
                  enum: [company, person]
                status:
                  type: string
                  enum: [active, needs_review, archived, inactive]
                customer_number:
                  type: string
                  nullable: true
                company_number:
                  type: string
                  nullable: true
                registration_number:
                  type: string
                  nullable: true
                email_domains:
                  type: string
                  nullable: true
                  description: Comma-separated company domains used for affiliation matching.
                auto_assign_by_domain:
                  type: string
                  nullable: true
                  enum: [inherit, enabled, disabled]
              example:
                kind: company
                status: active
                display_name: Example GmbH
                legal_name: Example GmbH
                email: office@example.test
                phone: +43 1 234567
                profiles:
                  - customer
                idempotency_key: contact-create-example-gmbh-001
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/trash:
    get:
      tags:
        - Contacts
      summary: Trash Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/addresses:
    get:
      tags:
        - Contacts
      summary: Index
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Contacts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                address:
                  name: Vienna billing office
                  company_name: Example GmbH
                  email: office@example.test
                  phone: +43 1 234567
                  address_line_1: Mariahilfer Strasse 1
                  city: Vienna
                  zip: '1060'
                  state: Vienna
                  country: AT
                  vat_number: ATU12345678
                purpose: billing
                is_default: true
                status: active
                valid_from: '2026-01-01'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/addresses/{link}:
    get:
      tags:
        - Contacts
      summary: Show
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: link
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Contacts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                purpose: shipping
                is_default: true
                status: active
                valid_from: '2026-01-01'
                valid_until: '2027-12-31'
                address:
                  address_line_1: Kaerntner Strasse 10
                  city: Vienna
                  zip: '1010'
                  country: AT
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: link
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Contacts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                is_default: true
                status: active
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: link
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Contacts
      summary: Destroy
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: link
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/affiliation-candidates:
    get:
      tags:
        - Contacts
      summary: Affiliation Candidates
      description: Returns active, unassigned person Contacts whose non-public
        email domain matches the company. Suggestions and automatic assignment
        create affiliations only, never authorization memberships.
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Matching people
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    display_name:
                      type: string
                    email:
                      type: string
                      nullable: true
                    matched_domain:
                      type: string
        '404':
          description: Contact not found.
        '422':
          description: The Contact is not a company.
  /api/v1/apps/customer-hub/contacts/{contact}/affiliations:
    get:
      tags:
        - Contacts
      summary: Index
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Contacts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                company_contact_id: 2001
                type: employee
                status: active
                valid_from: '2026-01-01'
                is_primary: true
                mirror_legacy_company: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/affiliations/{affiliation}:
    get:
      tags:
        - Contacts
      summary: Show
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: affiliation
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Contacts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                company_contact_id: 2001
                type: purchasing_contact
                status: active
                valid_from: '2026-01-01'
                valid_until: '2027-12-31'
                is_primary: true
                mirror_legacy_company: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: affiliation
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Contacts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                type: billing_contact
                is_primary: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: affiliation
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Contacts
      summary: Destroy
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: affiliation
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/notes:
    get:
      tags:
        - Contacts
      summary: Index
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Contacts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                note: Preferred delivery window is 08:00-12:00.
                legacy_type: customer
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/notes/{note}:
    get:
      tags:
        - Contacts
      summary: Show
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: note
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Contacts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                note: Preferred delivery window is 09:00-12:00.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: note
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Contacts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                note: Preferred delivery window is 10:00-12:00.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: note
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Contacts
      summary: Destroy
      parameters:
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: note
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{id}:
    get:
      tags:
        - Contacts
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Contacts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                kind: company
                status: active
                display_name: Example GmbH
                legal_name: Example GmbH
                email: office@example.test
                phone: +43 1 234567
                profiles:
                  - customer
                  - supplier
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Contacts
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/addresses/{link}/default:
    post:
      tags:
        - Contacts
      summary: Make Default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: link
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/addresses/{link}/restore:
    post:
      tags:
        - Contacts
      summary: Restore
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: link
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/affiliations/{affiliation}/primary:
    post:
      tags:
        - Contacts
      summary: Make Primary
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                mirror_legacy_company: true
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: affiliation
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/affiliations/{affiliation}/restore:
    post:
      tags:
        - Contacts
      summary: Restore
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: affiliation
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{contact}/notes/{note}/restore:
    post:
      tags:
        - Contacts
      summary: Restore
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: contact
          in: path
          schema:
            type: string
          required: true
        - name: note
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{id}/profiles/customer:
    post:
      tags:
        - Contacts
      summary: Enable Customer Profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/{id}/profiles/supplier:
    post:
      tags:
        - Contacts
      summary: Enable Supplier Profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/bulk/update:
    put:
      tags:
        - Contacts
      summary: Bulk Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/trash/restore/bulk:
    patch:
      tags:
        - Contacts
      summary: Bulk Restore
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/trash/{id}/restore:
    patch:
      tags:
        - Contacts
      summary: Restore
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/bulk/delete:
    delete:
      tags:
        - Contacts
      summary: Bulk Delete
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/trash/delete/bulk:
    delete:
      tags:
        - Contacts
      summary: Bulk Force Delete
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/contacts/trash/{id}:
    delete:
      tags:
        - Contacts
      summary: Force Delete
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customerGroups:
    get:
      tags:
        - CustomerGroups
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - CustomerGroups
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customerGroups/{id}:
    get:
      tags:
        - CustomerGroups
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - CustomerGroups
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - CustomerGroups
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customerGroups/bulk/update:
    put:
      tags:
        - CustomerGroups
      summary: Bulk Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customerGroups/bulk/delete:
    delete:
      tags:
        - CustomerGroups
      summary: Bulk Delete
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customers:
    get:
      tags:
        - Customers
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Customers
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customers/{id}:
    get:
      tags:
        - Customers
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Customers
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Customers
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customers/bulk/update:
    put:
      tags:
        - Customers
      summary: Bulk Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customers/bulk/delete:
    delete:
      tags:
        - Customers
      summary: Bulk Delete
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customers/bulk/delete-all:
    delete:
      tags:
        - Customers
      summary: Bulk Delete All
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/dashboard/customer-growth:
    get:
      tags:
        - Dashboard
      summary: Customer Growth
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/dashboard/customers-by-location:
    get:
      tags:
        - Dashboard
      summary: Customers By Location
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/dashboard/customers-overview:
    get:
      tags:
        - Dashboard
      summary: Customers Overview
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/dashboard/recent-signups:
    get:
      tags:
        - Dashboard
      summary: Recent Signups
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/dashboard/top-customer-groups:
    get:
      tags:
        - Dashboard
      summary: Top Customer Groups
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/dashboard/verification-funnel:
    get:
      tags:
        - Dashboard
      summary: Verification Funnel
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/favorites:
    get:
      tags:
        - Favorites
      summary: Show
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Favorites
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/notes:
    get:
      tags:
        - Notes
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Notes
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                note: Preferred delivery window is 08:00-12:00.
                legacy_type: customer
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/notes/{id}:
    get:
      tags:
        - Notes
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Notes
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                note: Preferred delivery window is 09:00-12:00.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Notes
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/permissions:
    get:
      tags:
        - Permissions
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/roles:
    get:
      tags:
        - Roles
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Roles
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/roles/{role}:
    get:
      tags:
        - Roles
      summary: Show
      parameters:
        - name: role
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Roles
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: role
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Roles
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: role
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Roles
      summary: Destroy
      parameters:
        - name: role
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/roles/bulk/update:
    put:
      tags:
        - Roles
      summary: Bulk Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/roles/bulk/delete:
    delete:
      tags:
        - Roles
      summary: Bulk Delete
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/settings:
    get:
      tags:
        - Settings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/settings/groups/list:
    get:
      tags:
        - Settings
      summary: Get Groups List
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/settings/{group}:
    get:
      tags:
        - Settings
      summary: Show
      parameters:
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/settings/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/settings/{group}/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/shippingAddresses:
    get:
      tags:
        - ShippingAddresses
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - ShippingAddresses
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/shippingAddresses/{id}:
    get:
      tags:
        - ShippingAddresses
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - ShippingAddresses
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - ShippingAddresses
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/user-accounts/{account}/memberships:
    get:
      tags:
        - User Accounts
      summary: Index
      parameters:
        - name: account
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - User Accounts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                company_contact_id: 2001
                role_id: 3
                status: active
                is_default: true
                valid_from: '2026-01-01'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: account
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/user-accounts/{account}/memberships/{membership}:
    get:
      tags:
        - User Accounts
      summary: Show
      parameters:
        - name: account
          in: path
          schema:
            type: string
          required: true
        - name: membership
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - User Accounts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                company_contact_id: 2001
                role_id: 4
                status: active
                is_default: true
                valid_from: '2026-01-01'
                valid_until: '2027-12-31'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: account
          in: path
          schema:
            type: string
          required: true
        - name: membership
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - User Accounts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                role_id: 4
                is_default: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: account
          in: path
          schema:
            type: string
          required: true
        - name: membership
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - User Accounts
      summary: Destroy
      parameters:
        - name: account
          in: path
          schema:
            type: string
          required: true
        - name: membership
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/user-accounts/{account}/memberships/{membership}/deactivate:
    post:
      tags:
        - User Accounts
      summary: Deactivate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: account
          in: path
          schema:
            type: string
          required: true
        - name: membership
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/user-accounts/{account}/memberships/{membership}/default:
    post:
      tags:
        - User Accounts
      summary: Make Default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: account
          in: path
          schema:
            type: string
          required: true
        - name: membership
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/user-accounts/{account}/memberships/{membership}/restore:
    post:
      tags:
        - User Accounts
      summary: Restore
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: account
          in: path
          schema:
            type: string
          required: true
        - name: membership
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
