openapi: 3.0.0
info:
  title: ProcurementHub API
  description: Complete API collection for ProcurementHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Goods Receipts
  - name: Purchase Orders
  - name: Suppliers
  - name: Vendor Bills
paths:
  /api/v1/apps/procurement-hub/goods-receipts:
    get:
      tags:
        - Goods Receipts
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Goods Receipts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/goods-receipts/statuses/list:
    get:
      tags:
        - Goods Receipts
      summary: Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/goods-receipts/{goodsReceipt}:
    get:
      tags:
        - Goods Receipts
      summary: Show
      parameters:
        - name: goodsReceipt
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Goods Receipts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: goodsReceipt
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Goods Receipts
      summary: Destroy
      parameters:
        - name: goodsReceipt
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/purchase-orders:
    get:
      tags:
        - Purchase Orders
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Purchase Orders
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/purchase-orders/statuses/list:
    get:
      tags:
        - Purchase Orders
      summary: Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/purchase-orders/{purchaseOrder}:
    get:
      tags:
        - Purchase Orders
      summary: Show
      parameters:
        - name: purchaseOrder
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Purchase Orders
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: purchaseOrder
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Purchase Orders
      summary: Destroy
      parameters:
        - name: purchaseOrder
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/purchase-orders/{purchaseOrder}/available-actions:
    get:
      tags:
        - Purchase Orders
      summary: Available Actions
      parameters:
        - name: purchaseOrder
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/purchase-orders/{purchaseOrder}/approve:
    post:
      tags:
        - Purchase Orders
      summary: Approve
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: purchaseOrder
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/purchase-orders/{purchaseOrder}/receive:
    post:
      tags:
        - Purchase Orders
      summary: Receive
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: purchaseOrder
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/purchase-orders/{purchaseOrder}/send:
    post:
      tags:
        - Purchase Orders
      summary: Send
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: purchaseOrder
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/suppliers:
    get:
      tags:
        - Suppliers
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Suppliers
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/suppliers/statuses/list:
    get:
      tags:
        - Suppliers
      summary: Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/suppliers/{supplier}:
    get:
      tags:
        - Suppliers
      summary: Show
      parameters:
        - name: supplier
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Suppliers
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: supplier
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Suppliers
      summary: Destroy
      parameters:
        - name: supplier
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/suppliers/from-contact:
    post:
      tags:
        - Suppliers
      summary: From Contact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/vendor-bills:
    get:
      tags:
        - Vendor Bills
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Vendor Bills
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/vendor-bills/statuses/list:
    get:
      tags:
        - Vendor Bills
      summary: Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/vendor-bills/{vendorBill}:
    get:
      tags:
        - Vendor Bills
      summary: Show
      parameters:
        - name: vendorBill
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Vendor Bills
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: vendorBill
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Vendor Bills
      summary: Destroy
      parameters:
        - name: vendorBill
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/vendor-bills/{vendorBill}/available-actions:
    get:
      tags:
        - Vendor Bills
      summary: Available Actions
      parameters:
        - name: vendorBill
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/vendor-bills/capture:
    post:
      tags:
        - Vendor Bills
      summary: Capture
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/vendor-bills/{vendorBill}/match:
    post:
      tags:
        - Vendor Bills
      summary: Match
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: vendorBill
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/procurement-hub/vendor-bills/{vendorBill}/pay:
    post:
      tags:
        - Vendor Bills
      summary: Pay
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: vendorBill
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
