openapi: 3.0.0
info:
  title: IntegrationHub API
  description: Complete API collection for IntegrationHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Ai
  - name: Blueprints
  - name: Connectors
  - name: Embed
  - name: Entities
  - name: Enums
  - name: Field Mappings
  - name: File Feed
  - name: File Runs
  - name: Filter Capabilities
  - name: Filter Templates
  - name: Integration Templates
  - name: Integrations
  - name: Oauth
  - name: Relay Routes
  - name: Settings
  - name: Sync Runs
paths:
  /api/v1/apps/integration-hub/ai/suggest-mappings:
    post:
      tags:
        - Ai
      summary: Ai Suggest Mappings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/blueprints/{type}:
    get:
      tags:
        - Blueprints
      summary: Show
      parameters:
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors:
    get:
      tags:
        - Connectors
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Connectors
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/categories:
    get:
      tags:
        - Connectors
      summary: Categories
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/gallery:
    get:
      tags:
        - Connectors
      summary: Gallery
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/gallery/{slug}:
    get:
      tags:
        - Connectors
      summary: Gallery Detail
      parameters:
        - name: slug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/hubs:
    get:
      tags:
        - Connectors
      summary: Hubs
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{id}:
    get:
      tags:
        - Connectors
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Connectors
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Connectors
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/auth-schema:
    get:
      tags:
        - Connectors
      summary: Auth Schema
      parameters:
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/catalog-presets:
    get:
      tags:
        - Connectors
      summary: Catalog Presets
      parameters:
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/entities:
    get:
      tags:
        - Connectors
      summary: Supported Entities
      parameters:
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/oauth/app-login:
    get:
      tags:
        - Connectors
      summary: App Login
      parameters:
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/schema/{entityType}:
    get:
      tags:
        - Connectors
      summary: Schema
      parameters:
        - name: type
          in: path
          schema:
            type: string
          required: true
        - name: entityType
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/check-source:
    post:
      tags:
        - Connectors
      summary: Check Source
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/discover-attributes/{entityType}:
    post:
      tags:
        - Connectors
      summary: Discover Attributes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
        - name: entityType
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/discover-enum-values/{entityType}:
    post:
      tags:
        - Connectors
      summary: Discover Enum Values
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
        - name: entityType
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/discover-fields/{entityType}:
    post:
      tags:
        - Connectors
      summary: Discover Fields
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
        - name: entityType
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/discover-folder:
    post:
      tags:
        - Connectors
      summary: Discover Folder
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/oauth/app-authorize:
    post:
      tags:
        - Connectors
      summary: App Authorize
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/oauth/authorize-url:
    post:
      tags:
        - Connectors
      summary: Authorize Url
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/oauth/claim:
    post:
      tags:
        - Connectors
      summary: Claim
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/oauth/exchange-code:
    post:
      tags:
        - Connectors
      summary: Exchange Code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/preview-sample/{entityType}:
    post:
      tags:
        - Connectors
      summary: Preview Sample
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
        - name: entityType
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/connectors/{type}/test-connection:
    post:
      tags:
        - Connectors
      summary: Test Connection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: type
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/embed/bootstrap:
    post:
      tags:
        - Embed
      summary: Bootstrap
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/embed/refresh:
    post:
      tags:
        - Embed
      summary: Refresh
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities:
    get:
      tags:
        - Entities
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Entities
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entityId}/attributes:
    get:
      tags:
        - Entities
      summary: Entity Attributes
      parameters:
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entityId}/field-mappings:
    get:
      tags:
        - Entities
      summary: By Entity
      parameters:
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entity}/filter-capabilities:
    get:
      tags:
        - Entities
      summary: Capabilities
      parameters:
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entity}/filters:
    get:
      tags:
        - Entities
      summary: Show
      parameters:
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Entities
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entity}/matching-rules:
    get:
      tags:
        - Entities
      summary: Get Matching Rules
      parameters:
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Entities
      summary: Update Matching Rules
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{id}:
    get:
      tags:
        - Entities
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Entities
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Entities
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{id}/affected-items:
    get:
      tags:
        - Entities
      summary: Affected Items
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{id}/source-samples:
    get:
      tags:
        - Entities
      summary: Samples
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entityId}/field-mappings/bulk:
    post:
      tags:
        - Entities
      summary: Bulk Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entity}/filters/apply-template:
    post:
      tags:
        - Entities
      summary: Apply Template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{entity}/filters/preview-plan:
    post:
      tags:
        - Entities
      summary: Preview
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{id}/lock:
    post:
      tags:
        - Entities
      summary: Set Lock
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{id}/payload/inspect:
    post:
      tags:
        - Entities
      summary: Inspect
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{id}/sync:
    post:
      tags:
        - Entities
      summary: Sync Entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/entities/{id}/sync/test:
    post:
      tags:
        - Entities
      summary: Test Entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/enums:
    get:
      tags:
        - Enums
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/enums/{slug}:
    get:
      tags:
        - Enums
      summary: Show
      parameters:
        - name: slug
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/field-mappings:
    get:
      tags:
        - Field Mappings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Field Mappings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/field-mappings/{id}:
    get:
      tags:
        - Field Mappings
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Field Mappings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Field Mappings
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/ai-chat:
    post:
      tags:
        - File Feed
      summary: Ai Chat
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/ai-profile:
    post:
      tags:
        - File Feed
      summary: Ai Profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/compile-profile:
    post:
      tags:
        - File Feed
      summary: Compile Profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/create-attributes:
    post:
      tags:
        - File Feed
      summary: Create Attributes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/fingerprint-sample:
    post:
      tags:
        - File Feed
      summary: Fingerprint Sample
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/match-profile:
    post:
      tags:
        - File Feed
      summary: Match Profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/upload-sample:
    post:
      tags:
        - File Feed
      summary: Upload Sample
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-feed/validate-profile:
    post:
      tags:
        - File Feed
      summary: Validate Profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/file-runs/{id}:
    get:
      tags:
        - File Runs
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/filter-capabilities:
    get:
      tags:
        - Filter Capabilities
      summary: Draft Capabilities
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/filter-templates:
    get:
      tags:
        - Filter Templates
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Filter Templates
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/filter-templates/apply:
    post:
      tags:
        - Filter Templates
      summary: Apply
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/filter-templates/{id}:
    put:
      tags:
        - Filter Templates
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Filter Templates
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integration-templates:
    get:
      tags:
        - Integration Templates
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Integration Templates
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integration-templates/{id}:
    get:
      tags:
        - Integration Templates
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Integration Templates
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Integration Templates
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integration-templates/from-mapping/{entityId}:
    post:
      tags:
        - Integration Templates
      summary: From Mapping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integration-templates/{templateId}/apply/{entityId}:
    post:
      tags:
        - Integration Templates
      summary: Apply To Entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: templateId
          in: path
          schema:
            type: string
          required: true
        - name: entityId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations:
    get:
      tags:
        - Integrations
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Integrations
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/health-summary:
    get:
      tags:
        - Integrations
      summary: Health Summary
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/summary:
    get:
      tags:
        - Integrations
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}:
    get:
      tags:
        - Integrations
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Integrations
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Integrations
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/export:
    get:
      tags:
        - Integrations
      summary: Export
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/mapping-editor:
    get:
      tags:
        - Integrations
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/wizard-state:
    get:
      tags:
        - Integrations
      summary: Wizard State
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/entities:
    get:
      tags:
        - Integrations
      summary: By Integration
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/file-runs:
    get:
      tags:
        - Integrations
      summary: By Integration
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/logs:
    get:
      tags:
        - Integrations
      summary: Index
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/logs/run/{runId}:
    get:
      tags:
        - Integrations
      summary: By Run
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
        - name: runId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/relay-routes:
    get:
      tags:
        - Integrations
      summary: By Integration
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/relay-routes/captured:
    get:
      tags:
        - Integrations
      summary: Captured Entities
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/relay-routes/sample/{entity}:
    get:
      tags:
        - Integrations
      summary: Sample Response
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
        - name: entity
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/sync-runs:
    get:
      tags:
        - Integrations
      summary: By Integration
      parameters:
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integration}/health:
    get:
      tags:
        - Integrations
      summary: Health
      parameters:
        - name: integration
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integration}/reachability:
    get:
      tags:
        - Integrations
      summary: Reachability
      parameters:
        - name: integration
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integration}/sync-runs/stats:
    get:
      tags:
        - Integrations
      summary: Index
      parameters:
        - name: integration
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/import:
    post:
      tags:
        - Integrations
      summary: Import
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/apply-blueprint:
    post:
      tags:
        - Integrations
      summary: Apply
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/cancel-draft:
    post:
      tags:
        - Integrations
      summary: Cancel Draft
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/disconnect:
    post:
      tags:
        - Integrations
      summary: Disconnect
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/duplicate:
    post:
      tags:
        - Integrations
      summary: Duplicate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/sync:
    post:
      tags:
        - Integrations
      summary: Sync Integration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{id}/test-connection:
    post:
      tags:
        - Integrations
      summary: Test Connection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/integrations/{integrationId}/relay-routes/preview:
    post:
      tags:
        - Integrations
      summary: Preview Mapping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: integrationId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/oauth/callback:
    get:
      tags:
        - Oauth
      summary: Callback
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/relay-routes:
    post:
      tags:
        - Relay Routes
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/relay-routes/{id}:
    put:
      tags:
        - Relay Routes
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Relay Routes
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings:
    get:
      tags:
        - Settings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings/groups/list:
    get:
      tags:
        - Settings
      summary: Get Groups List
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings/{group}:
    get:
      tags:
        - Settings
      summary: Show
      parameters:
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings/embed/mint-partner-token:
    post:
      tags:
        - Settings
      summary: Mint Partner Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings/embed/rotate-signing-secret:
    post:
      tags:
        - Settings
      summary: Rotate Embed Signing Secret
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings/embed/rotate-token:
    post:
      tags:
        - Settings
      summary: Rotate Embed Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/settings/{group}/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/sync-runs:
    get:
      tags:
        - Sync Runs
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/sync-runs/stats:
    get:
      tags:
        - Sync Runs
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/sync-runs/{id}:
    get:
      tags:
        - Sync Runs
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Sync Runs
      summary: Delete Sync
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/sync-runs/{id}/cancel:
    post:
      tags:
        - Sync Runs
      summary: Cancel Sync
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/integration-hub/sync-runs/{id}/rerun:
    post:
      tags:
        - Sync Runs
      summary: Rerun Sync
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
