openapi: 3.0.0
info:
  title: AiHub API
  description: Complete API collection for AiHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Assist
  - name: Context
  - name: Debug
  - name: Knowledge
  - name: Models
  - name: Settings
  - name: Usage Logs
paths:
  /api/v1/apps/ai-hub/assist/sessions:
    get:
      tags:
        - Assist
      summary: Index Sessions
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Assist
      summary: Store Session
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Assist
      summary: Destroy All Sessions
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/sessions/{id}:
    get:
      tags:
        - Assist
      summary: Show Session
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Assist
      summary: Destroy Session
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/status:
    get:
      tags:
        - Assist
      summary: Status
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/context-preview:
    post:
      tags:
        - Assist
      summary: Preview Context
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/intake/uploads:
    post:
      tags:
        - Assist
      summary: Store Upload
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/intake/uploads/{uploadId}/process:
    post:
      tags:
        - Assist
      summary: Process Upload
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: uploadId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/intake/uploads/{uploadId}/resolve:
    post:
      tags:
        - Assist
      summary: Resolve Gap
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: uploadId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/sessions/{id}/messages:
    post:
      tags:
        - Assist
      summary: Store Message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/assist/sessions/{id}/tools/confirm:
    post:
      tags:
        - Assist
      summary: Confirm Tool
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/context:
    get:
      tags:
        - Context
      summary: Show
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/debug/requests:
    get:
      tags:
        - Debug
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/knowledge:
    get:
      tags:
        - Knowledge
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Knowledge
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/knowledge/{id}:
    get:
      tags:
        - Knowledge
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Knowledge
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Knowledge
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/models:
    get:
      tags:
        - Models
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/settings:
    get:
      tags:
        - Settings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/settings/groups/list:
    get:
      tags:
        - Settings
      summary: Get Groups List
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/settings/{group}:
    get:
      tags:
        - Settings
      summary: Show
      parameters:
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/settings/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/settings/{group}/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/ai-hub/usage-logs:
    get:
      tags:
        - Usage Logs
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
