openapi: 3.0.0
info:
  title: LoyaltyHub API
  description: Complete API collection for LoyaltyHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Checkout
  - name: Companies
  - name: Conditions
  - name: Customers
  - name: Dashboard
  - name: Ledger Entries
  - name: Me
  - name: Payout Runs
  - name: Products
  - name: Program Actions
  - name: Programs
  - name: Receipt Submissions
  - name: Rewards
  - name: Settings
  - name: Wallets
paths:
  /api/v1/apps/loyalty-hub/checkout/confirm:
    post:
      tags:
        - Checkout
      summary: Confirm
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/checkout/preview:
    post:
      tags:
        - Checkout
      summary: Preview
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/checkout/release:
    post:
      tags:
        - Checkout
      summary: Release
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/checkout/reserve:
    post:
      tags:
        - Checkout
      summary: Reserve
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/companies/{companyId}/enroll:
    post:
      tags:
        - Companies
      summary: Enroll Company
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: companyId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/conditions/schema:
    get:
      tags:
        - Conditions
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/conditions/schema/{target}:
    get:
      tags:
        - Conditions
      summary: Show
      parameters:
        - name: target
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/customers/{customerId}/enroll:
    post:
      tags:
        - Customers
      summary: Enroll Customer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/dashboard/pending-receipts:
    get:
      tags:
        - Dashboard
      summary: Pending Receipts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/dashboard/wallet-overview:
    get:
      tags:
        - Dashboard
      summary: Wallet Overview
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/ledger-entries:
    get:
      tags:
        - Ledger Entries
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Ledger Entries
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/ledger-entries/{ledger_entry}:
    get:
      tags:
        - Ledger Entries
      summary: Show
      parameters:
        - name: ledger_entry
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/ledger-entries/{id}/reverse:
    post:
      tags:
        - Ledger Entries
      summary: Reverse
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/me/ledger:
    get:
      tags:
        - Me
      summary: Me Ledger
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/me/receipts:
    get:
      tags:
        - Me
      summary: Me Receipts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Me
      summary: Store Receipt
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/me/rewards:
    get:
      tags:
        - Me
      summary: Rewards
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/me/wallet:
    get:
      tags:
        - Me
      summary: Me Wallet
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/me/enroll:
    post:
      tags:
        - Me
      summary: Me Enroll
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/me/receipts/media:
    post:
      tags:
        - Me
      summary: Upload Receipt Media
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/me/rewards/{rewardId}/redeem:
    post:
      tags:
        - Me
      summary: Redeem Reward
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: rewardId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/payout-runs:
    get:
      tags:
        - Payout Runs
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/payout-runs/trigger:
    post:
      tags:
        - Payout Runs
      summary: Trigger
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/products/{productId}/redeem-profile:
    get:
      tags:
        - Products
      summary: Product Redeem Profile
      parameters:
        - name: productId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/program-actions:
    get:
      tags:
        - Program Actions
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Program Actions
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/program-actions/effect-targets/list:
    get:
      tags:
        - Program Actions
      summary: Get Effect Targets
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/program-actions/effect-types/list:
    get:
      tags:
        - Program Actions
      summary: Get Effect Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/program-actions/stacking-modes/list:
    get:
      tags:
        - Program Actions
      summary: Get Stacking Modes
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/program-actions/statuses/list:
    get:
      tags:
        - Program Actions
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/program-actions/{program_action}:
    get:
      tags:
        - Program Actions
      summary: Show
      parameters:
        - name: program_action
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Program Actions
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: program_action
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Program Actions
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: program_action
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Program Actions
      summary: Destroy
      parameters:
        - name: program_action
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/programs:
    get:
      tags:
        - Programs
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Programs
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/programs/account-modes/list:
    get:
      tags:
        - Programs
      summary: Get Account Modes
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/programs/active:
    get:
      tags:
        - Programs
      summary: Active Programs
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/programs/earn-modes/list:
    get:
      tags:
        - Programs
      summary: Get Earn Modes
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/programs/statuses/list:
    get:
      tags:
        - Programs
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/programs/{program}:
    get:
      tags:
        - Programs
      summary: Show
      parameters:
        - name: program
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Programs
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: program
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Programs
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: program
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Programs
      summary: Destroy
      parameters:
        - name: program
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/receipt-submissions:
    get:
      tags:
        - Receipt Submissions
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Receipt Submissions
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/receipt-submissions/statuses/list:
    get:
      tags:
        - Receipt Submissions
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/receipt-submissions/{receipt_submission}:
    get:
      tags:
        - Receipt Submissions
      summary: Show
      parameters:
        - name: receipt_submission
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Receipt Submissions
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: receipt_submission
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Receipt Submissions
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: receipt_submission
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Receipt Submissions
      summary: Destroy
      parameters:
        - name: receipt_submission
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/receipt-submissions/{id}/approve:
    post:
      tags:
        - Receipt Submissions
      summary: Approve
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/receipt-submissions/{id}/reject:
    post:
      tags:
        - Receipt Submissions
      summary: Reject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/rewards:
    get:
      tags:
        - Rewards
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Rewards
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/rewards/fulfillment-types/list:
    get:
      tags:
        - Rewards
      summary: Get Fulfillment Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/rewards/statuses/list:
    get:
      tags:
        - Rewards
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/rewards/{reward}:
    get:
      tags:
        - Rewards
      summary: Show
      parameters:
        - name: reward
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Rewards
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: reward
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Rewards
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: reward
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Rewards
      summary: Destroy
      parameters:
        - name: reward
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/settings:
    get:
      tags:
        - Settings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/settings/groups/list:
    get:
      tags:
        - Settings
      summary: Get Groups List
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/settings/{group}:
    get:
      tags:
        - Settings
      summary: Show
      parameters:
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/settings/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/settings/{group}/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/wallets:
    get:
      tags:
        - Wallets
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Wallets
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/wallets/company/{companyId}:
    get:
      tags:
        - Wallets
      summary: Find By Company
      parameters:
        - name: companyId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/wallets/customer/{customerId}:
    get:
      tags:
        - Wallets
      summary: Find By Customer
      parameters:
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/wallets/{wallet}:
    get:
      tags:
        - Wallets
      summary: Show
      parameters:
        - name: wallet
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/wallets/{id}/adjust:
    post:
      tags:
        - Wallets
      summary: Adjust
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/loyalty-hub/wallets/{walletId}/revoke:
    post:
      tags:
        - Wallets
      summary: Revoke
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: walletId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
