openapi: 3.0.0
info:
  title: B2Bware DataHub API (Storefront)
  version: 1.0.0
  description: >-
    Storefront-facing endpoints for the B2Bware DataHub API. See
    https://b2bware-documentationai-wiki/authentication for the authentication
    model.


    This spec aggregates the storefront-relevant endpoints of every hub.
    Admin-only endpoints are deliberately excluded.
  contact:
    name: B2Bware
    url: https://syncspider.com
servers:
  - url: https://api.datahub.syncspider.com
    description: Production
tags:
  - name: AuthHub
    description: Storefront customer authentication.
  - name: ProductHub
    description: Catalog, prices, stock, media.
  - name: OrderHub
    description: Cart, checkout, orders, quotes.
  - name: CustomerHub
    description: Customer profile, addresses, favorites, companies.
  - name: MediaHub
    description: Public CDN proxy.
  - name: TaxHub
    description: Tax calculation and read-only configuration.
  - name: ContentHub
    description: CMS pages, blocks, menus.
paths:
  /api/v1/apps/auth-hub/{installationKey}/reset-password:
    post:
      tags:
        - Public (URL-based installation key)
        - AuthHub
      summary: Reset Password
      description: >-
        Completes a password reset started by `POST /forgot-password`.


        - `code` — 6-char code from the reset email; expires after 1 hour.

        - `password` — new password; must satisfy installation password policy.

        - `password_confirmation` — must equal `password`.


        Returns 200 with `{ "message": "Password reset successfully." }` on
        success.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"code\": \"ABC123\",\n  \"password\":
                \"new-strong-password\",\n  \"password_confirmation\":
                \"new-strong-password\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: installationKey
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/{installationKey}/verify-email:
    post:
      tags:
        - Public (URL-based installation key)
        - AuthHub
      summary: Verify Email
      description: >-
        Confirms a customer's email using the 6-char code sent by `POST
        /send-verification-email` or by `register`. Code expires after 24 hours.


        If the installation does not require admin approval, the customer is
        also activated.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"code\": \"ABC123\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: installationKey
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/login:
    post:
      tags:
        - Customer auth (installation-key)
        - AuthHub
      summary: Login
      description: >-
        Exchanges email + password for an `x-auth-token`.


        Response:

        ```json

        {
          "token": "42.JDJ5JDEyJGFiY2RlZmdo...",
          "customer": { "id": 42, "email": "jane.doe@example.com", ... }
        }

        ```


        Specific 401 messages distinguish failure modes:

        - `Email not found` — no customer with this email (also returned when
        only a guest-checkout record exists; route the user to registration, not
        password reset).

        - `Password not valid` — password mismatch.

        - `Account is inactive` — admin must approve.

        - `Email not verified` — customer must complete `verify-email` first.


        The test script auto-saves `token` into the `authToken` collection
        variable.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"email\": \"jane.doe@example.com\",\n  \"password\":
                \"correct-horse-battery-staple\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/register:
    post:
      tags:
        - Customer auth (installation-key)
        - AuthHub
      summary: Register
      description: >-
        Creates a B2B customer account.


        - `company` is optional; include for B2B registrations.

        - If the installation requires email verification, the response still
        contains a `token` but the customer must verify before placing orders.

        - If the installation requires admin approval, the response **omits**
        `token` and the customer cannot log in until activated.

        - **Guest upgrade:** if a guest-checkout record already exists for
        `email` with no password, registration upgrades that record instead of
        creating a new one (preserving prior orders).


        Validation rules follow CommonFilterRepository conventions; unique check
        uses MongoDB collection `items_{customer_entity}` with `_deleted_at IS
        NULL`.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"first_name\": \"Jane\",\n  \"last_name\":
                \"Doe\",\n  \"email\":
                \"jane.doe@example.com\",\n  \"password\":
                \"correct-horse-battery-staple\",\n  \"password_confirmation\":
                \"correct-horse-battery-staple\",\n  \"phone\": \"+43 660
                1234567\",\n  \"language\": \"en\",\n  \"company\":
                {\n    \"name\": \"Acme GmbH\",\n    \"vat_id\":
                \"ATU12345678\",\n    \"street\": \"Hauptstrasse
                1\",\n    \"city\": \"Vienna\",\n    \"zip\":
                \"1010\",\n    \"country_code\": \"AT\"\n  }\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/forgot-password:
    post:
      tags:
        - Customer auth (installation-key)
        - AuthHub
      summary: Forgot Password
      description: >-
        Sends a 6-character reset code to `email` (1 hour expiry). The customer
        then completes the reset via `POST /{installationKey}/reset-password`.


        Returns 200 with a generic message even if the email does not exist
        (prevents email enumeration).
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"email\": \"jane.doe@example.com\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/send-verification-email:
    post:
      tags:
        - Customer auth (installation-key)
        - AuthHub
      summary: Send Verification Email
      description: (Re)sends a 6-character email-verification code (24 hour expiry).
        Used when the customer did not receive or has lost the original code
        from registration.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"email\": \"jane.doe@example.com\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/me:
    get:
      tags:
        - Customer auth (installation-key)
        - AuthHub
      summary: Get Me
      description: >-
        Returns the currently authenticated customer.


        Unlike other endpoints, a missing/invalid `x-auth-token` returns a
        specific 401 body:

        ```json

        {
          "error": "unauthorized",
          "messages": ["No x-auth-token header was provided."],
          "code": 401
        }

        ```

        Use this to distinguish 'token missing' from 'token expired'.
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/logout:
    post:
      tags:
        - Customer auth (installation-key)
        - AuthHub
      summary: Logout
      description: >-
        Revokes the current `x-auth-token`. Subsequent requests with that token
        return 401.


        Logout-all (revoke every session for the customer) is **not yet
        implemented** — tracked as a gap.
      requestBody:
        content: {}
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/impersonate/customers:
    get:
      tags:
        - Impersonation (sales agent)
        - AuthHub
      summary: List Impersonatable Customers
      description: >-
        Paginated list of customers the agent is allowed to impersonate.
        Supports `filter[search]` against name/email/company.


        Agents cannot impersonate other agents or admins.
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: per_page
          in: query
          schema:
            type: integer
          example: "20"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/impersonate/{customerId}:
    post:
      tags:
        - Impersonation (sales agent)
        - AuthHub
      summary: Impersonate Customer
      description: Issues an impersonation token. The response includes a new `token`
        that represents the target customer; the agent should use it in place of
        their own `x-auth-token` for subsequent storefront requests, then call
        `impersonate/leave` to return to their own session.
      requestBody:
        content: {}
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customerId
          in: path
          schema:
            type: integer
          required: true
          description: ID of the customer to impersonate.
          example: "42"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/auth-hub/impersonate/leave:
    post:
      tags:
        - Impersonation (sales agent)
        - AuthHub
      summary: Leave Impersonation
      description: Ends the current impersonation session and restores the agent's
        original token.
      requestBody:
        content: {}
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products:
    get:
      tags:
        - Products
        - ProductHub
      summary: List Products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: Page number
          example: "1"
        - name: per_page
          in: query
          schema:
            type: integer
          description: Results per page (max 50)
          example: "20"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Products
        - ProductHub
      summary: Create Product
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Sample Product\",\n  \"sku\":
                \"SKU-12345\",\n  \"product_type\":
                \"simple\",\n  \"description\": \"Product
                description\",\n  \"short_description\": \"Short
                description\",\n  \"status\": \"active\",\n  \"visibility\":
                \"visible\",\n  \"manage_stock\": true,\n  \"tax_class_id\":
                1,\n  \"attributes\": [\n    {\n      \"attribute_id\":
                1,\n      \"value\": \"Red\",\n      \"auto_create_value\":
                false\n    }\n  ],\n  \"prices\":
                [\n    {\n      \"price_type\": \"regular\",\n      \"price\":
                99.99\n    }\n  ],\n  \"stock\":
                [\n    {\n      \"warehouse_id\": 1,\n      \"stock_quantity\":
                100,\n      \"stock_availability\": true,\n      \"backorders\":
                \"no_backorders\"\n    }\n  ],\n  \"media\":
                [\n    {\n      \"file\":
                \"base64_encoded_file_or_url\",\n      \"media_type\":
                \"image\",\n      \"alt_text\": \"Product
                image\",\n      \"is_primary\": true,\n      \"order\":
                1\n    }\n  ]\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/1:
    get:
      tags:
        - Products
        - ProductHub
      summary: Get Product
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Products
        - ProductHub
      summary: Update Product
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Updated Product Name\",\n  \"description\":
                \"Updated description\",\n  \"status\":
                \"active\",\n  \"prices\": [\n    {\n      \"price_type\":
                \"regular\",\n      \"price\": 149.99\n    }\n  ]\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Products
        - ProductHub
      summary: Delete Product
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/upsert/single:
    put:
      tags:
        - Products
        - ProductHub
      summary: Upsert Product
      description: "Create or update product by SKU. action can be: createOrUpdate,
        onlyCreate, onlyUpdate"
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"sku\": \"SKU-12345\",\n  \"name\": \"Product
                Name\",\n  \"product_type\": \"simple\",\n  \"description\":
                \"Product description\",\n  \"short_description\": \"Short
                description\",\n  \"status\": \"active\",\n  \"visibility\":
                \"visible\",\n  \"manage_stock\": true,\n  \"action\":
                \"createOrUpdate\",\n  \"attributes\":
                [\n    {\n      \"attribute_id\": 1,\n      \"value\":
                \"Blue\"\n    }\n  ],\n  \"prices\":
                [\n    {\n      \"price_type\": \"regular\",\n      \"price\":
                199.99\n    }\n  ],\n  \"stock\":
                [\n    {\n      \"warehouse_id\": 1,\n      \"stock_quantity\":
                50,\n      \"stock_availability\": true\n    }\n  ]\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/bulk/update:
    put:
      tags:
        - Products
        - ProductHub
      summary: Bulk Update Products
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"[\n  {\n    \"id\": 1,\n    \"name\": \"Updated Product
                1\",\n    \"status\": \"active\"\n  },\n  {\n    \"id\":
                2,\n    \"name\": \"Updated Product 2\",\n    \"status\":
                \"inactive\"\n  }\n]"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/bulk/delete:
    delete:
      tags:
        - Products
        - ProductHub
      summary: Bulk Delete Products
      description: "Delete multiple products by IDs or use delete_all: true to delete
        all products"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/1/createVariations:
    put:
      tags:
        - Products
        - ProductHub
      summary: Create Variations
      description: Create product variations based on attribute combinations
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"attributes\": [\n    {\n      \"attribute_id\":
                1,\n      \"value\": [\"Red\", \"Blue\",
                \"Green\"]\n    },\n    {\n      \"attribute_id\":
                2,\n      \"value\": [\"S\", \"M\", \"L\"]\n    }\n  ]\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/1/attachVariationsAttributes:
    put:
      tags:
        - Products
        - ProductHub
      summary: Attach Variations Attributes
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"attribute_ids\": [1, 2, 3]\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/1/child-products:
    delete:
      tags:
        - Products
        - ProductHub
      summary: Detach Child Products
      description: Unlink child products from parent product
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /products/1/generateAIDescription:
    put:
      tags:
        - Products
        - ProductHub
      summary: Generate AI Description
      description: Generate product description using AI from PDF attributes
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"language\": \"en_001\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /categories:
    get:
      tags:
        - Categories
        - ProductHub
      summary: List Categories
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: "1"
        - name: per_page
          in: query
          schema:
            type: integer
          description: Max 200
          example: "50"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Categories
        - ProductHub
      summary: Create Category
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Electronics\",\n  \"slug\":
                \"electronics\",\n  \"description\": \"Electronic products
                category\",\n  \"parent_id\":
                null,\n  \"exclude_from_main_menu\":
                false,\n  \"exclude_from_layer_navigation\":
                false,\n  \"media\": [\n    {\n      \"file\":
                \"base64_or_url\",\n      \"media_type\":
                \"image\",\n      \"alt_text\": \"Category
                image\",\n      \"is_primary\": true,\n      \"order\":
                1\n    }\n  ],\n  \"attributes\":
                [\n    {\n      \"attribute_id\": 1,\n      \"value\":
                \"Category Value\",\n      \"auto_create_value\":
                false\n    }\n  ],\n  \"meta_data\": {\n    \"definition\":
                [\n      {\n        \"name\": \"Meta Field\",\n        \"code\":
                \"meta_field\",\n        \"type\":
                \"text\",\n        \"values\":
                [],\n        \"visible_on_the_category_page\":
                true,\n        \"required\":
                false\n      }\n    ],\n    \"definition_values\":
                {}\n  },\n  \"seo\": {\n    \"title\": \"Electronics - Shop
                Now\",\n    \"description\": \"Browse our electronics
                collection\",\n    \"keywords\": \"electronics,
                gadgets\"\n  }\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /categories/1:
    get:
      tags:
        - Categories
        - ProductHub
      summary: Get Category
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Categories
        - ProductHub
      summary: Update Category
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Updated Category Name\",\n  \"description\":
                \"Updated description\",\n  \"slug\": \"updated-slug\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Categories
        - ProductHub
      summary: Delete Category
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /categories/update/depths:
    post:
      tags:
        - Categories
        - ProductHub
      summary: Set Depths for All Categories
      description: Recalculate and update depths for all categories
      requestBody:
        content: {}
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /warehouses:
    get:
      tags:
        - Warehouses
        - ProductHub
      summary: List Warehouses
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: "1"
        - name: per_page
          in: query
          schema:
            type: integer
          description: Max 50
          example: "20"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Warehouses
        - ProductHub
      summary: Create Warehouse
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Main Warehouse\",\n  \"location\": \"New York,
                USA\",\n  \"default_warehouse\": true\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /warehouses/1:
    get:
      tags:
        - Warehouses
        - ProductHub
      summary: Get Warehouse
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Warehouses
        - ProductHub
      summary: Update Warehouse
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Updated Warehouse Name\",\n  \"location\": \"Los
                Angeles, USA\",\n  \"default_warehouse\": false\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Warehouses
        - ProductHub
      summary: Delete Warehouse
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /stock:
    get:
      tags:
        - Stock
        - ProductHub
      summary: List Stock
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Stock
        - ProductHub
      summary: Create Stock
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"product_id\": 1,\n  \"warehouse_id\":
                1,\n  \"stock_quantity\": 100,\n  \"stock_availability\":
                true,\n  \"backorders\":
                \"no_backorders\",\n  \"minimum_qty_allowed_in_shopping_cart\":
                1,\n  \"maximum_qty_allowed_in_shopping_cart\":
                10,\n  \"qty_for_items_status_to_become_out_of_stock\":
                5,\n  \"upcoming_qty\": [\n    {\n      \"date\":
                \"2024-12-31\",\n      \"quantity\": 50\n    }\n  ]\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /stock/1:
    get:
      tags:
        - Stock
        - ProductHub
      summary: Get Stock
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Stock
        - ProductHub
      summary: Update Stock
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"stock_quantity\": 75,\n  \"stock_availability\":
                true,\n  \"backorders\": \"allow_qty_below_0\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Stock
        - ProductHub
      summary: Delete Stock
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /stock/upsert/bulk:
    post:
      tags:
        - Stock
        - ProductHub
      summary: Upsert Bulk Stock
      description: Create or update multiple stock records. Include id for update, or
        product_id+warehouse_id for create
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"[\n  {\n    \"product_id\": 1,\n    \"warehouse_id\":
                1,\n    \"stock_quantity\": 150,\n    \"stock_availability\":
                true,\n    \"backorders\":
                \"no_backorders\"\n  },\n  {\n    \"id\":
                2,\n    \"stock_quantity\": 200,\n    \"stock_availability\":
                true\n  }\n]"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /prices:
    get:
      tags:
        - Prices
        - ProductHub
      summary: List Prices
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Prices
        - ProductHub
      summary: Create Group Price
      description: Special pricing for customer groups
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"product_id\": 1,\n  \"price_type\": \"group\",\n  \"price\":
                79.99,\n  \"customer_group_id\": 1\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /prices/1:
    get:
      tags:
        - Prices
        - ProductHub
      summary: Get Price
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Prices
        - ProductHub
      summary: Update Price
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"price\": 109.99,\n  \"start_date\": \"2024-01-01\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Prices
        - ProductHub
      summary: Delete Price
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /prices/upsert/bulk:
    post:
      tags:
        - Prices
        - ProductHub
      summary: Upsert Bulk Prices
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"[\n  {\n    \"product_id\": 1,\n    \"price_type\":
                \"regular\",\n    \"price\":
                99.99\n  },\n  {\n    \"product_id\": 1,\n    \"price_type\":
                \"special\",\n    \"price\": 79.99,\n    \"start_date\":
                \"2024-01-01\",\n    \"end_date\":
                \"2024-01-31\"\n  },\n  {\n    \"id\": 5,\n    \"price\":
                89.99\n  }\n]"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /media:
    get:
      tags:
        - Media
        - ProductHub
      summary: List Media
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Media
        - ProductHub
      summary: Create Media
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Product Image\",\n  \"type\": \"image\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /media/1:
    get:
      tags:
        - Media
        - ProductHub
      summary: Get Media
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Media
        - ProductHub
      summary: Update Media
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"product_id\": 1,\n  \"media_type\":
                \"image\",\n  \"media_url\":
                \"https://example.com/image.jpg\",\n  \"alt_text\": \"Product
                image alt text\",\n  \"is_primary\": true\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Media
        - ProductHub
      summary: Delete Media
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /vendor:
    get:
      tags:
        - Vendors
        - ProductHub
      summary: List Vendors
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Vendors
        - ProductHub
      summary: Create Vendor
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Acme Corporation\",\n  \"email\":
                \"contact@acme.com\",\n  \"phone\":
                \"+1234567890\",\n  \"address\": \"123 Main Street, City,
                Country\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /vendor/1:
    get:
      tags:
        - Vendors
        - ProductHub
      summary: Get Vendor
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Vendors
        - ProductHub
      summary: Update Vendor
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Acme Corp Updated\",\n  \"email\":
                \"info@acme.com\",\n  \"phone\": \"+1987654321\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Vendors
        - ProductHub
      summary: Delete Vendor
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /jurisdiction:
    get:
      tags:
        - Jurisdiction
        - ProductHub
      summary: List Jurisdictions
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Jurisdiction
        - ProductHub
      summary: Create Jurisdiction
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"New York State\",\n  \"contact_info\":
                \"tax@ny.gov\",\n  \"address\": \"State Tax Office, Albany,
                NY\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /jurisdiction/1:
    get:
      tags:
        - Jurisdiction
        - ProductHub
      summary: Get Jurisdiction
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Jurisdiction
        - ProductHub
      summary: Update Jurisdiction
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"New York State Updated\",\n  \"contact_info\":
                \"info@ny.gov\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Jurisdiction
        - ProductHub
      summary: Delete Jurisdiction
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /taxClass:
    get:
      tags:
        - Tax Classes
        - ProductHub
      summary: List Tax Classes
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Tax Classes
        - ProductHub
      summary: Create Tax Class
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Standard Tax Class\",\n  \"contact_info\":
                \"tax@example.com\",\n  \"address\": \"Tax Office Address\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /taxClass/1:
    get:
      tags:
        - Tax Classes
        - ProductHub
      summary: Get Tax Class
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Tax Classes
        - ProductHub
      summary: Update Tax Class
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"name\": \"Updated Tax Class\",\n  \"contact_info\":
                \"info@example.com\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Tax Classes
        - ProductHub
      summary: Delete Tax Class
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /translations:
    get:
      tags:
        - Translations
        - ProductHub
      summary: List Translations
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Translations
        - ProductHub
      summary: Create Translation
      description: "Attribute codes for products: name, description, short_description"
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"model_id\": 1,\n  \"model_type\":
                \"product\",\n  \"language_code\":
                \"de_DE\",\n  \"attribute_code\":
                \"name\",\n  \"translated_value\": \"Produktname auf
                Deutsch\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /translations/1:
    get:
      tags:
        - Translations
        - ProductHub
      summary: Get Translation
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Translations
        - ProductHub
      summary: Update Translation
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"translated_value\": \"Aktualisierter Produktname\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Translations
        - ProductHub
      summary: Delete Translation
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /translations/upsert/single:
    put:
      tags:
        - Translations
        - ProductHub
      summary: Upsert Translation
      description: Create or update translation based on model_id, language_code, and
        attribute_code
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"model_id\": 1,\n  \"model_type\":
                \"product\",\n  \"language_code\":
                \"fr_FR\",\n  \"attribute_code\":
                \"description\",\n  \"translated_value\": \"Description du
                produit en français\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /translations/upsert/bulk:
    put:
      tags:
        - Translations
        - ProductHub
      summary: Upsert Bulk Translations
      description: Bulk create or update translations
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"[\n  {\n    \"model_id\": 1,\n    \"model_type\":
                \"product\",\n    \"language_code\":
                \"de_DE\",\n    \"attribute_code\":
                \"name\",\n    \"translated_value\": \"Deutscher
                Produktname\"\n  },\n  {\n    \"model_id\":
                1,\n    \"model_type\": \"product\",\n    \"language_code\":
                \"de_DE\",\n    \"attribute_code\":
                \"description\",\n    \"translated_value\": \"Deutsche
                Produktbeschreibung\"\n  },\n  {\n    \"model_id\":
                2,\n    \"model_type\": \"product\",\n    \"language_code\":
                \"fr_FR\",\n    \"attribute_code\":
                \"name\",\n    \"translated_value\": \"Nom du produit
                français\"\n  }\n]"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /translations/job/run:
    post:
      tags:
        - Translations
        - ProductHub
      summary: Run Translation Job
      description: Queue AI translation job for products
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"installation_key\":
                \"your_installation_key\",\n  \"language_codes\": [\"de_DE\",
                \"fr_FR\", \"es_ES\"],\n  \"chunk\": 100,\n  \"dry_run\":
                false,\n  \"only_missing\": true,\n  \"product_sku\":
                null,\n  \"model\": \"gpt-4o-mini\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /translations/job/progress:
    get:
      tags:
        - Translations
        - ProductHub
      summary: Get Translation Job Progress
      description: Check progress of translation job
      parameters:
        - name: installation_key
          in: query
          schema:
            type: string
          example: your_installation_key
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /attributes:
    get:
      tags:
        - Attributes (ProductHub)
        - ProductHub
      summary: List Attributes
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /attributeTypes:
    get:
      tags:
        - Attributes (ProductHub)
        - ProductHub
      summary: Get Attribute Types
      description: Get available attribute types
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /attributes/insert/bulk:
    put:
      tags:
        - Attributes (ProductHub)
        - ProductHub
      summary: Bulk Insert Attributes
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"[\n  {\n    \"name\": \"Color\",\n    \"code\":
                \"color\",\n    \"type\": \"select\",\n    \"required\":
                false\n  },\n  {\n    \"name\": \"Size\",\n    \"code\":
                \"size\",\n    \"type\": \"select\",\n    \"required\":
                true\n  }\n]"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /attributeValues:
    get:
      tags:
        - Attribute Values
        - ProductHub
      summary: List Attribute Values
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /attributeGroups:
    get:
      tags:
        - Attribute Groups
        - ProductHub
      summary: List Attribute Groups
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /attributeGroups/types/list:
    get:
      tags:
        - Attribute Groups
        - ProductHub
      summary: Get Attribute Group Types
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /customer/groups:
    get:
      tags:
        - Customer Groups
        - ProductHub
      summary: List Customer Groups
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /demoData/deploy:
    post:
      tags:
        - Demo Data
        - ProductHub
      summary: Deploy Demo Data
      description: Deploy demo data for ProductHub
      requestBody:
        content: {}
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/payment/webhook/{installationKey}/{provider}/{order_id}:
    post:
      tags:
        - Public (URL-based installation key)
        - OrderHub
      summary: Payment Webhook (PSP → DataHub)
      description: >-
        Generic payment webhook endpoint. Each PSP integration validates its own
        payload format.


        **No signature verification** is applied at the API layer today —
        PSP-specific verification (e.g. HMAC) is delegated to the integration
        handler. Treated as a known gap.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: installationKey
          in: path
          schema:
            type: string
          required: true
        - name: provider
          in: path
          schema:
            type: string
          required: true
          example: stripe
        - name: order_id
          in: path
          schema:
            type: integer
          required: true
          example: "1234"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/order/payment/{installationKey}/{order_id}:
    get:
      tags:
        - Public (URL-based installation key)
        - OrderHub
      summary: Payment Redirect (browser → DataHub)
      description: Customer is redirected here by the PSP after completing payment.
        The handler finalizes the order based on PSP-side status and redirects
        the browser to the storefront success/cancel page.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: installationKey
          in: path
          schema:
            type: string
          required: true
        - name: order_id
          in: path
          schema:
            type: integer
          required: true
          example: "1234"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts:
    get:
      tags:
        - Carts
        - OrderHub
      summary: List Carts
      description: Returns carts visible to the caller. For a logged-in customer, this
        is their carts (typically one active). For a guest with `session-uuid`,
        the matching guest cart.
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: cartItems.product.price,cartItems.product.mainMedia
        - name: per_page
          in: query
          schema:
            type: integer
          example: "10"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Carts
        - OrderHub
      summary: Create Cart
      description: Explicitly create a cart. Most storefronts create lazily via `PATCH
        /carts` (upsert).
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"customer_id\": null,\n  \"session_uuid\":
                \"00000000-0000-0000-0000-000000000000\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Carts
        - OrderHub
      summary: Upsert Cart (PATCH /carts)
      description: "Idiomatic cart bootstrap: creates or returns the active cart for
        the caller (logged-in customer or guest `session-uuid`). Body is
        optional metadata."
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts/{cart}:
    get:
      tags:
        - Carts
        - OrderHub
      summary: Show Cart
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: cartItems.product.price,cartItems.product.mainMedia
        - name: cart
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Carts
        - OrderHub
      summary: Update Cart
      description: "Update cart metadata: chosen billing/shipping method, addresses, notes."
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"billing_method_id\": 1,\n  \"shipping_method_id\":
                2,\n  \"billing_address_id\": 5,\n  \"shipping_address_id\":
                5\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cart
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Carts
        - OrderHub
      summary: Delete Cart
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cart
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts/{cart}/rule-progress:
    get:
      tags:
        - Carts
        - OrderHub
      summary: Cart Rule Progress
      description: Returns the progress against active cart rules (e.g. "spend €20
        more for free shipping"). Useful for showing motivational messaging in
        the cart UI.
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cart
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/cart-items:
    get:
      tags:
        - Cart Items
        - OrderHub
      summary: List Cart Items
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: filter[cart_id]
          in: query
          schema:
            type: integer
          example: "1"
        - name: include
          in: query
          schema:
            type: string
          example: product.price,product.mainMedia
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Cart Items
        - OrderHub
      summary: Add Cart Item
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"cart_id\": 1,\n  \"product_id\": 100,\n  \"quantity\": 2\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/cart-items/{cartItem}:
    get:
      tags:
        - Cart Items
        - OrderHub
      summary: Show Cart Item
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cartItem
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Cart Items
        - OrderHub
      summary: Update Cart Item
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"quantity\": 3\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cartItem
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Cart Items
        - OrderHub
      summary: Remove Cart Item
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cartItem
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts/{cart}/checkout:
    get:
      tags:
        - Checkout
        - OrderHub
      summary: Get Checkout Summary
      description: Returns the priced, tax-calculated, shipping-resolved view of the
        cart, ready for confirmation.
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cart
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Checkout
        - OrderHub
      summary: Place Order
      description: Creates the order from the cart. If the chosen billing method
        requires PSP redirection, the response contains a `redirect_url` for the
        customer's browser.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"billing_method_id\": 1,\n  \"shipping_method_id\":
                2,\n  \"billing_address_id\": 5,\n  \"shipping_address_id\":
                5,\n  \"customer_payment_method_id\": null,\n  \"notes\":
                \"\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: cart
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders:
    get:
      tags:
        - Orders
        - OrderHub
      summary: List Orders
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: orderLineItems,customer
        - name: per_page
          in: query
          schema:
            type: integer
          example: "10"
        - name: sort
          in: query
          schema:
            type: string
          example: -_created_at
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders/{order}:
    get:
      tags:
        - Orders
        - OrderHub
      summary: Show Order
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: orderLineItems.product,customer,billingAddress,shippingAddress
        - name: order
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/billing-methods:
    get:
      tags:
        - Billing & Shipping Methods
        - OrderHub
      summary: List Billing Methods
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: filter[is_active]
          in: query
          schema:
            type: integer
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/billing-methods/{method}:
    get:
      tags:
        - Billing & Shipping Methods
        - OrderHub
      summary: Show Billing Method
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: method
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/shipping-methods:
    get:
      tags:
        - Billing & Shipping Methods
        - OrderHub
      summary: List Shipping Methods
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: filter[is_active]
          in: query
          schema:
            type: integer
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/shipping-methods/{method}:
    get:
      tags:
        - Billing & Shipping Methods
        - OrderHub
      summary: Show Shipping Method
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: method
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/customer-payment-methods:
    get:
      tags:
        - Customer Payment Methods
        - OrderHub
      summary: List Payment Methods
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Customer Payment Methods
        - OrderHub
      summary: Add Payment Method
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"billing_method_id\": 1,\n  \"provider_token\":
                \"tok_xxxxxxxxxxxxxxxx\",\n  \"display_name\": \"Visa ending
                4242\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/customer-payment-methods/{method}:
    get:
      tags:
        - Customer Payment Methods
        - OrderHub
      summary: Show Payment Method
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: method
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Customer Payment Methods
        - OrderHub
      summary: Update Payment Method
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"display_name\": \"Primary card\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: method
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Customer Payment Methods
        - OrderHub
      summary: Delete Payment Method
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: method
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/customer-payment-methods/sync:
    post:
      tags:
        - Customer Payment Methods
        - OrderHub
      summary: Sync Payment Methods
      description: Re-pulls the customer's stored instruments from the configured PSP.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"billing_method_id\": 1\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quotes:
    get:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: List Quotes
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: quoteItems
        - name: per_page
          in: query
          schema:
            type: integer
          example: "10"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Create Quote (RFQ)
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"notes\": \"Please quote for 100 units.\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quotes/{quote}:
    get:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Show Quote
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: quoteItems.product,quoteItemsGroups
        - name: quote
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Update Quote
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"status\": \"submitted\",\n  \"notes\": \"\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: quote
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Delete Quote
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: quote
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items:
    get:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: List Quote Items
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: filter[quote_id]
          in: query
          schema:
            type: integer
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Add Quote Item
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"quote_id\": 1,\n  \"product_id\": 100,\n  \"quantity\":
                100\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items/{item}:
    put:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Update Quote Item
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"quantity\": 150\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: item
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Delete Quote Item
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: item
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items-groups:
    get:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: List Quote Item Groups
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: filter[quote_id]
          in: query
          schema:
            type: integer
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items-groups/{group}:
    get:
      tags:
        - Quotes (B2B)
        - OrderHub
      summary: Show Quote Item Group
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: integer
          required: true
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customers:
    get:
      tags:
        - Profile (customers)
        - CustomerHub
      summary: List Customers (scoped)
      description: For shop customers this returns just their own record. For agents
        it lists impersonatable customers.
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: company,role
        - name: per_page
          in: query
          schema:
            type: integer
          example: "10"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Profile (customers)
        - CustomerHub
      summary: Create Customer (admin)
      description: Admin/agent context. For self-registration, storefronts should use
        `POST /auth-hub/register` instead.
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"first_name\": \"Jane\",\n  \"last_name\":
                \"Doe\",\n  \"email\": \"jane@example.com\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/customers/{customer}:
    get:
      tags:
        - Profile (customers)
        - CustomerHub
      summary: Show Customer
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: include
          in: query
          schema:
            type: string
          example: company,role,billingAddresses,shippingAddresses
        - name: customer
          in: path
          schema:
            type: integer
          required: true
          example: "42"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Profile (customers)
        - CustomerHub
      summary: Update Customer Profile
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"first_name\": \"Jane\",\n  \"last_name\":
                \"Doe\",\n  \"phone\": \"+43 660 7654321\",\n  \"language\":
                \"en\"\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customer
          in: path
          schema:
            type: integer
          required: true
          description: Must match the logged-in customer's ID. Updating another customer
            returns 403.
          example: "42"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Profile (customers)
        - CustomerHub
      summary: Delete Customer (admin)
      description: Admin/agent context. Self-deletion by a shop customer is not
        currently supported (tracked as a gap).
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: customer
          in: path
          schema:
            type: integer
          required: true
          example: "42"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/shippingAddresses:
    get:
      tags:
        - Shipping Addresses
        - CustomerHub
      summary: List Shipping Addresses
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: filter[customer_id]
          in: query
          schema:
            type: integer
          example: "42"
        - name: per_page
          in: query
          schema:
            type: integer
          example: "20"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Shipping Addresses
        - CustomerHub
      summary: Create Shipping Address
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"customer_id\": 42,\n  \"first_name\":
                \"Jane\",\n  \"last_name\": \"Doe\",\n  \"company\": \"Acme
                GmbH\",\n  \"street\": \"Hauptstrasse 1\",\n  \"city\":
                \"Vienna\",\n  \"zip\": \"1010\",\n  \"country_code\":
                \"AT\",\n  \"phone\": \"+43 660 1234567\",\n  \"is_default\":
                true\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/shippingAddresses/{address}:
    get:
      tags:
        - Shipping Addresses
        - CustomerHub
      summary: Show Shipping Address
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: address
          in: path
          schema:
            type: integer
          required: true
          example: "5"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Shipping Addresses
        - CustomerHub
      summary: Update Shipping Address
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\n  \"street\": \"Hauptstrasse 2\",\n  \"is_default\": true\n}"'
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: address
          in: path
          schema:
            type: integer
          required: true
          example: "5"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Shipping Addresses
        - CustomerHub
      summary: Delete Shipping Address
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: address
          in: path
          schema:
            type: integer
          required: true
          example: "5"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/customer-hub/billingAddresses:
    get:
      tags:
        - Billing Addresses
        - CustomerHub
      summary: List Billing Addresses
      parameters:
        - name: installation-key
          in: header
          schema:
            type: string
          example: "{{installationKey}}"
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: "{{authToken}}"
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
[...]
