openapi: 3.0.0
info:
  title: ContentHub API
  description: CMS pages, blocks, menus.
  version: 1.0.0
  contact:
    name: B2Bware
    url: https://syncspider.com
servers:
  - url: https://api.datahub.syncspider.com
    description: Production
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Page Templates
  - name: Pages
  - name: Blocks
  - name: Page Block Assignments
  - name: Block Nestings
paths:
  /page-templates:
    get:
      tags:
        - Page Templates
      summary: List Page Templates
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Page Templates
      summary: Create Page Template
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"name\": \"Default 2-Column Left\",\n   
                \"identifier\": \"2col-left\",\n    \"description\": \"Two
                column layout with left sidebar\",\n    \"layout_type\":
                \"2columns-left\",\n    \"sectors\": [\n        {\"code\":
                \"header\", \"label\": \"Header\", \"position\": \"top\",
                \"max_blocks\": null},\n        {\"code\": \"sidebar_left\",
                \"label\": \"Left Sidebar\", \"position\": \"left\",
                \"max_blocks\": 10},\n        {\"code\": \"main_content\",
                \"label\": \"Main Content\", \"position\": \"center\",
                \"max_blocks\": null},\n        {\"code\": \"footer\",
                \"label\": \"Footer\", \"position\": \"bottom\", \"max_blocks\":
                null}\n    ],\n    \"is_default\": true,\n    \"is_active\":
                true\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /page-templates/1:
    get:
      tags:
        - Page Templates
      summary: Get Page Template
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Page Templates
      summary: Update Page Template
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"name\": \"Updated Template Name\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Page Templates
      summary: Delete Page Template
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /page-templates/layout-types/list:
    get:
      tags:
        - Page Templates
      summary: Get Layout Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /pages:
    get:
      tags:
        - Pages
      summary: List Pages
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Pages
      summary: Create Page
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"title\": \"About Us\",\n    \"url_key\":
                \"about-us\",\n    \"content_html\": \"<h1>About
                Us</h1><p>Welcome to our company.</p>\",\n    \"content_json\":
                {},\n    \"content_css\": \"\",\n    \"page_template_id\":
                1,\n    \"status\": \"draft\",\n    \"meta_title\": \"About Us -
                Company\",\n    \"meta_description\": \"Learn about our
                company\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /pages/1:
    get:
      tags:
        - Pages
      summary: Get Page
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Pages
      summary: Update Page
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"status\": \"published\",\n    \"published_at\":
                \"2026-03-04T00:00:00Z\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Pages
      summary: Delete Page
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /pages/statuses/list:
    get:
      tags:
        - Pages
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /pages/1/composed:
    get:
      tags:
        - Pages
      summary: Get Composed Page
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /pages/resolve/about-us:
    get:
      tags:
        - Pages
      summary: Resolve Page by URL Key
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks:
    get:
      tags:
        - Blocks
      summary: List Blocks
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Blocks
      summary: Create Block (Blade Rendered)
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"identifier\": \"newsletter-signup\",\n    \"title\":
                \"Newsletter Signup\",\n    \"block_type\": \"global\",\n   
                \"render_type\": \"blade\",\n    \"blade_path\":
                \"contenthub::blocks.newsletter\",\n    \"sector\":
                \"footer\",\n    \"sort_order\": 10,\n    \"is_active\":
                true,\n    \"config\": {\"heading\": \"Subscribe to our
                newsletter\"}\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks/1:
    get:
      tags:
        - Blocks
      summary: Get Block
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Blocks
      summary: Update Block
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"title\": \"Updated Block Title\",\n    \"is_active\":
                true\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Blocks
      summary: Delete Block
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks/types/list:
    get:
      tags:
        - Blocks
      summary: Get Block Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks/render-types/list:
    get:
      tags:
        - Blocks
      summary: Get Render Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks/sectors/list:
    get:
      tags:
        - Blocks
      summary: Get Sectors
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks/global:
    get:
      tags:
        - Blocks
      summary: Get Global Blocks
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks/1/children:
    get:
      tags:
        - Blocks
      summary: Get Block Children
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /blocks/1/render:
    get:
      tags:
        - Blocks
      summary: Render Block
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /page-block-assignments:
    get:
      tags:
        - Page Block Assignments
      summary: List Assignments
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Page Block Assignments
      summary: Create Assignment
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"page_id\": 1,\n    \"block_id\": 1,\n    \"sector\":
                \"main_content\",\n    \"sort_order\": 0,\n    \"is_active\":
                true\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /page-block-assignments/1:
    get:
      tags:
        - Page Block Assignments
      summary: Get Assignment
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Page Block Assignments
      summary: Update Assignment
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"sort_order\": 5\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Page Block Assignments
      summary: Delete Assignment
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /page-block-assignments/page/1:
    get:
      tags:
        - Page Block Assignments
      summary: Get Assignments by Page
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /block-nestings:
    get:
      tags:
        - Block Nestings
      summary: List Nestings
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Block Nestings
      summary: Create Nesting
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"parent_block_id\": 1,\n    \"child_block_id\": 2,\n   
                \"sort_order\": 0,\n    \"slot\": \"content\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /block-nestings/1:
    get:
      tags:
        - Block Nestings
      summary: Get Nesting
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Block Nestings
      summary: Update Nesting
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"sort_order\": 1,\n    \"slot\": \"left\"\n}"'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Block Nestings
      summary: Delete Nesting
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
