openapi: 3.0.0
info:
  title: RuleHub API
  description: Complete API collection for RuleHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Cart Price Rules
  - name: Cart Validation Rules
  - name: Catalog Price Rules
  - name: Conditions
  - name: Coupons
  - name: Rule Usage Logs
  - name: Shipping Rate Rules
paths:
  /api/v1/apps/rule-hub/cart-price-rules:
    get:
      tags:
        - Cart Price Rules
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Cart Price Rules
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: 5p/Litre Discount – 540L+ Threshold
                description: 5p per litre discount when total litres >= 540
                status: active
                priority: 10
                conditions:
                  type: combine
                  operator: all
                  conditions:
                    - type: cart_items_aggregate
                      source: product_custom_attribute
                      attribute: weight
                      aggregate: sum
                      quantity_aware: true
                      operator: '>='
                      value: 540
                action_type: per_unit_attribute_fixed
                action_amount: 0.05
                action_attribute: weight
                action_attribute_source: product_custom_attribute
                free_shipping: 'no'
                stop_further_rules: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-price-rules/action-types/list:
    get:
      tags:
        - Cart Price Rules
      summary: Get Action Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-price-rules/free-shipping-options/list:
    get:
      tags:
        - Cart Price Rules
      summary: Get Free Shipping Options
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-price-rules/statuses/list:
    get:
      tags:
        - Cart Price Rules
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-price-rules/{id}:
    get:
      tags:
        - Cart Price Rules
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Cart Price Rules
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Cart Price Rules
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-validation-rules:
    get:
      tags:
        - Cart Validation Rules
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Cart Validation Rules
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Bulk vs Standard Mutual Exclusion
                description: Cannot mix Bulk and Standard Aspen fuel products
                status: active
                constraint_type: mutual_exclusion
                group_a:
                  type: combine
                  operator: all
                  conditions:
                    - type: attribute
                      target: product
                      attribute: sku
                      operator: contains
                      value: BULK
                group_b:
                  type: combine
                  operator: all
                  conditions:
                    - type: attribute
                      target: product
                      attribute: sku
                      operator: contains
                      value: STD
                error_message: Cannot mix Bulk and Standard fuel products in the same cart
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-validation-rules/constraint-types/list:
    get:
      tags:
        - Cart Validation Rules
      summary: Get Constraint Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-validation-rules/statuses/list:
    get:
      tags:
        - Cart Validation Rules
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/cart-validation-rules/{id}:
    get:
      tags:
        - Cart Validation Rules
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Cart Validation Rules
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Cart Validation Rules
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/catalog-price-rules:
    get:
      tags:
        - Catalog Price Rules
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Catalog Price Rules
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: VIP Customer – 15% off SKU 5875
                description: 15% discount for VIP customers on product SKU 5875
                status: active
                priority: 10
                conditions:
                  type: combine
                  operator: all
                  conditions:
                    - type: attribute
                      target: product
                      attribute: sku
                      operator: '=='
                      value: '5875'
                    - type: attribute
                      target: customer
                      attribute: customer_group_id
                      operator: '=='
                      value: '1'
                action_type: by_percent
                action_amount: 15
                customer_group_ids:
                  - 1
                stop_further_rules: false
                date_from: null
                date_to: null
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/catalog-price-rules/action-types/list:
    get:
      tags:
        - Catalog Price Rules
      summary: Get Action Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/catalog-price-rules/statuses/list:
    get:
      tags:
        - Catalog Price Rules
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/catalog-price-rules/{id}:
    get:
      tags:
        - Catalog Price Rules
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Catalog Price Rules
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Catalog Price Rules
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/conditions/schema:
    get:
      tags:
        - Conditions
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/conditions/schema/{target}:
    get:
      tags:
        - Conditions
      summary: Show
      parameters:
        - name: target
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/coupons:
    get:
      tags:
        - Coupons
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Coupons
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                rule_id: 1
                code: SAVE10
                coupon_type: specific
                usage_limit: 100
                usage_per_customer: 1
                is_primary: true
                expiration_date: '2026-12-31'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/coupons/coupon-types/list:
    get:
      tags:
        - Coupons
      summary: Get Coupon Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/coupons/rule/{ruleId}:
    get:
      tags:
        - Coupons
      summary: Find By Rule
      parameters:
        - name: ruleId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/coupons/{id}:
    get:
      tags:
        - Coupons
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Coupons
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Coupons
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/rule-usage-logs:
    get:
      tags:
        - Rule Usage Logs
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/rule-usage-logs/customer/{customerId}:
    get:
      tags:
        - Rule Usage Logs
      summary: Find By Customer
      parameters:
        - name: customerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/rule-usage-logs/order/{orderId}:
    get:
      tags:
        - Rule Usage Logs
      summary: Find By Order
      parameters:
        - name: orderId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/rule-usage-logs/rule-types/list:
    get:
      tags:
        - Rule Usage Logs
      summary: Get Rule Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/rule-usage-logs/rule/{ruleId}:
    get:
      tags:
        - Rule Usage Logs
      summary: Find By Rule
      parameters:
        - name: ruleId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/rule-usage-logs/{id}:
    get:
      tags:
        - Rule Usage Logs
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/shipping-rate-rules:
    get:
      tags:
        - Shipping Rate Rules
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Shipping Rate Rules
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: UK Mainland – Weight Rate
                status: active
                shipping_method_id: 1
                country: GB
                zone: zone-a
                zip_from: ''
                zip_to: ''
                condition_type: weight
                min_value: 0
                max_value: 50
                price: 12.99
                priority: 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/shipping-rate-rules/condition-types/list:
    get:
      tags:
        - Shipping Rate Rules
      summary: Get Condition Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/shipping-rate-rules/statuses/list:
    get:
      tags:
        - Shipping Rate Rules
      summary: Get Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/shipping-rate-rules/zone/{zone}:
    get:
      tags:
        - Shipping Rate Rules
      summary: Find By Zone
      parameters:
        - name: zone
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/rule-hub/shipping-rate-rules/{id}:
    get:
      tags:
        - Shipping Rate Rules
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Shipping Rate Rules
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Shipping Rate Rules
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
