openapi: 3.0.0
info:
  title: OrderHub API
  description: Complete API collection for OrderHub — generated from routes/api.php
  version: 1.0.0
servers:
  - url: https://api.datahub.syncspider.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Billing Methods
  - name: Cart Items
  - name: Carts
  - name: Customer Payment Methods
  - name: Dashboard
  - name: Order
  - name: Order Comments
  - name: Order Line Items
  - name: Orders
  - name: Quote Items
  - name: Quote Items Groups
  - name: Quotes
  - name: Settings
  - name: Shipping Methods
paths:
  /api/v1/apps/order-hub/billing-methods:
    get:
      tags:
        - Billing Methods
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Billing Methods
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/billing-methods/payment-providers/templates:
    get:
      tags:
        - Billing Methods
      summary: Payment Providers Templates
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Billing Methods
      summary: Store Payment Provider Template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/billing-methods/{id}:
    get:
      tags:
        - Billing Methods
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Billing Methods
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Billing Methods
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/cart-items:
    get:
      tags:
        - Cart Items
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Cart Items
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/cart-items/{id}:
    get:
      tags:
        - Cart Items
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Cart Items
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Cart Items
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts:
    get:
      tags:
        - Carts
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Carts
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Carts
      summary: Upsert
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts/{cart}/checkout:
    get:
      tags:
        - Carts
      summary: Get
      description: >-
        Returns checkout context including `available_attributes` (custom Order
        attributes from AttributesHub with `group.type='order'` AND
        `use_in_checkout=true`). See packages/Apps/OrderHub/CHECKOUT.md.
      parameters:
        - name: cart
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Carts
      summary: Post
      description: >-
        Submits checkout. Optional `attributes` array carries custom Order
        attributes (AttributesHub). Each entry needs `attribute_id` referencing
        an attribute that has `group.type='order'` AND `use_in_checkout=true`;
        otherwise the request is rejected with HTTP 422. See
        packages/Apps/OrderHub/CHECKOUT.md.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                shipping_method_id: 1
                billing_method_id: 1
                shipping_address_id: 8
                billing_address_id: 7
                shipping_address_is_same_as_billing: false
                comment: Optional order comment
                billing_method:
                  redirect_url: https://myshop.com/thank-you
                attributes:
                  - attribute_id: 20
                    value: PO-2026-001
                  - attribute_id: 22
                    value: Leave at reception
                    auto_create_value: true
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: cart
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts/{cart}/rule-progress:
    get:
      tags:
        - Carts
      summary: Rule Progress
      parameters:
        - name: cart
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/carts/{id}:
    get:
      tags:
        - Carts
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Carts
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Carts
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/customer-payment-methods:
    get:
      tags:
        - Customer Payment Methods
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Customer Payment Methods
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/customer-payment-methods/{id}:
    get:
      tags:
        - Customer Payment Methods
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Customer Payment Methods
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Customer Payment Methods
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/customer-payment-methods/sync:
    post:
      tags:
        - Customer Payment Methods
      summary: Sync
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/dashboard/average-sale:
    get:
      tags:
        - Dashboard
      summary: Average Sale
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/dashboard/lifetime-sales:
    get:
      tags:
        - Dashboard
      summary: Lifetime Sales
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/dashboard/orders-by-country:
    get:
      tags:
        - Dashboard
      summary: Orders By Country
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/dashboard/orders-by-location:
    get:
      tags:
        - Dashboard
      summary: Orders By Location
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/dashboard/overview:
    get:
      tags:
        - Dashboard
      summary: Overview
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/dashboard/recent-orders:
    get:
      tags:
        - Dashboard
      summary: Recent Orders
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/dashboard/revenue:
    get:
      tags:
        - Dashboard
      summary: Revenue
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/order/payment/{installationKey}/{order_id}:
    get:
      tags:
        - Order
      summary: Handle Payment Redirect
      parameters:
        - name: installationKey
          in: path
          schema:
            type: string
          required: true
        - name: order_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/order-comments:
    get:
      tags:
        - Order Comments
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Order Comments
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/order-comments/{id}:
    get:
      tags:
        - Order Comments
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Order Comments
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Order Comments
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/order-line-items:
    get:
      tags:
        - Order Line Items
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Order Line Items
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/order-line-items/{id}:
    get:
      tags:
        - Order Line Items
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Order Line Items
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Order Line Items
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders:
    get:
      tags:
        - Orders
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Orders
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders/statuses/list:
    get:
      tags:
        - Orders
      summary: Statuses
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders/statuses/options:
    get:
      tags:
        - Orders
      summary: Statuses Options
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders/statuses/transitions:
    get:
      tags:
        - Orders
      summary: Status Transitions
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders/{id}:
    get:
      tags:
        - Orders
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Orders
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Orders
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders/statuses:
    post:
      tags:
        - Orders
      summary: Store Status
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/orders/statuses/{status}:
    delete:
      tags:
        - Orders
      summary: Destroy Status
      parameters:
        - name: status
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items:
    get:
      tags:
        - Quote Items
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Quote Items
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items/{id}:
    get:
      tags:
        - Quote Items
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Quote Items
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Quote Items
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items-groups:
    get:
      tags:
        - Quote Items Groups
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Quote Items Groups
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quote-items-groups/{id}:
    get:
      tags:
        - Quote Items Groups
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Quote Items Groups
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Quote Items Groups
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quotes:
    get:
      tags:
        - Quotes
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Quotes
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/quotes/{id}:
    get:
      tags:
        - Quotes
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Quotes
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Quotes
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/settings:
    get:
      tags:
        - Settings
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/settings/groups/list:
    get:
      tags:
        - Settings
      summary: Get Groups List
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/settings/{group}:
    get:
      tags:
        - Settings
      summary: Show
      parameters:
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Settings
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/settings/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/settings/{group}/reset:
    post:
      tags:
        - Settings
      summary: Reset
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: group
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/shipping-methods:
    get:
      tags:
        - Shipping Methods
      summary: Index
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Shipping Methods
      summary: Store
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/apps/order-hub/shipping-methods/{id}:
    get:
      tags:
        - Shipping Methods
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Shipping Methods
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Shipping Methods
      summary: Destroy
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
